In [222]:
import pandas as pd

In [223]:
movies = pd.read_csv("collab_filtering_dataset/movies.csv")
ratings = pd.read_csv("collab_filtering_dataset/ratings.csv")

In [220]:
movies.head(3)
movies.shape

(9742, 3)

In [221]:
movies.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [344]:
import re
movies['year'] = movies["title"].str.extract("\((\d+)\)")
movies

pandas.core.series.Series

In [354]:
movies['year'] = movies['year'].fillna(0).astype(int)

In [359]:
latest_movies = movies[movies['year'] > movies['year'].quantile(.75)]
latest_movies

,movieId,title,genres,year
6797,60684,Watchmen (2009),Action|Drama|Mystery|Sci-Fi|Thriller|IMAX,2009
6884,63072,"Road, The (2009)",Adventure|Drama|Thriller,2009
6949,65585,Bride Wars (2009),Comedy|Romance,2009
6952,65601,My Bloody Valentine 3-D (2009),Horror|Thriller,2009
6956,65682,Underworld: Rise of the Lycans (2009),Action|Fantasy|Horror|Thriller,2009
...,...,...,...,...
9736,193579,Jon Stewart Has Left the Building (2015),Documentary,2015
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,2017
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,2017
9739,193585,Flint (2017),Drama,2017
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,2018

In [155]:
ratings.head(100)

    userId  movieId  rating  timestamp
0        1        1     4.0  964982703
1        1        3     4.0  964981247
2        1        6     4.0  964982224
3        1       47     5.0  964983815
4        1       50     5.0  964982931
..     ...      ...     ...        ...
95       1     1445     3.0  964984112
96       1     1473     4.0  964980875
97       1     1500     4.0  964980985
98       1     1517     5.0  964981107
99       1     1552     4.0  964982620

[100 rows x 4 columns]

In [447]:
def get_average_rating(latest_movies):
    avg = []
    for index, row in latest_movies.iterrows():
        a = ratings[ratings['movieId'] == row["movieId"]]['rating'].mean()
        avg.append(a)
    return avg

In [448]:
avg = get_average_rating(movies)
movies["average_rating"] = avg
movies

,movieId,title,genres,year,average_rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,3.259615
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,2.357143
4,5,Father of the Bride Part II (1995),Comedy,1995,3.071429
...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,2017,4.000000
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,2017,3.500000
9739,193585,Flint (2017),Drama,2017,3.500000
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,2018,3.500000
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1991,4.000000

In [387]:
list1 = [1,2,3]
list2 = [4,5,6]
x = []
y = [34]
x + y + list1 + list2
y = 45
#x.append(y)
print(type(x))
print(type(y))

<class 'list'>
<class 'int'>

In [421]:
a = ratings[ratings['movieId'] == 60684]['rating'].mean()
x.append(a)
x

[3.501556983616962, 3.9209302325581397, 3.988372093023256]

In [ ]:
latest_movies['average_rating'] = ratings[[]]

In [426]:
def get_average_rating(latest_movies):
    avg = []
    for index, row in latest_movies.iterrows():
        a = ratings[ratings['movieId'] == row["movieId"]]['rating'].mean()
        avg.append(a)
    print(avg)
    return avg
    
average_rating = get_average_rating(latest_movies)
len(average_rating)

[3.988372093023256, 3.888888888888889, 3.5, 2.0, 3.642857142857143, 2.7142857142857144, 3.0, 3.5, 3.7, 3.0, 3.0, 2.8181818181818183, 3.5, 3.5, 2.5, 3.5, 3.5, 3.0, 2.75, 3.5294117647058822, 2.5, 2.5, 2.8333333333333335, 3.94, 2.0, 3.25, 2.625, 3.3333333333333335, 3.5, 0.5, 3.25, 4.3, 3.4, 3.55, 4.136363636363637, 4.0, 4.25, 2.9375, 3.96875, 4.25, 2.8653846153846154, 4.0, 3.864406779661017, 4.0, 2.0, 3.264705882352941, 2.0, 2.0, 2.875, 3.25, 3.1, 3.5, 3.75, 4.004761904761905, 3.5833333333333335, 1.5, 3.6315789473684212, 3.8, 4.25, 3.2142857142857144, 4.0, 3.1666666666666665, 3.5, 2.7857142857142856, 5.0, 2.75, 2.425, 4.5, 3.0, 2.5, 3.0555555555555554, 2.607142857142857, 3.5, 4.0, 3.5, 3.65, 3.8879310344827585, 3.8125, 2.5, 1.5, 3.0, 3.6666666666666665, 3.5, 4.0, 3.776923076923077, 2.9583333333333335, 3.5, 3.5, 3.5, 2.625, 3.0, 3.625, 3.9, 2.8333333333333335, 2.5, 2.75, 3.5, 4.5, 3.8333333333333335, 2.0, 3.0, 3.0, 3.857142857142857, 3.642857142857143, 3.6, 4.5, 3.5, 3.4, 3.388888888888889, 3.0, 1.0, 3.6666666666666665, 2.0, 2.6666666666666665, 3.4285714285714284, 3.5294117647058822, 5.0, 4.0, 3.5, 3.0, 3.4, 3.0, 4.25, 3.227272727272727, 4.0, 3.5, 2.5, 3.5, 3.1, 2.3333333333333335, 3.0357142857142856, 3.8773584905660377, 3.8333333333333335, 4.0, 3.3333333333333335, 2.6666666666666665, 3.5, 3.0625, 3.0, 4.2, 3.5, 2.5, 3.71875, 3.5, 2.0, 3.375, 3.5, 2.25, 4.083333333333333, 3.0, 4.25, 3.5, 4.375, 2.619047619047619, 3.5, 2.25, 2.6666666666666665, 3.5, 4.166666666666667, 4.5, 3.0, 3.0, 3.5, 3.6774193548387095, 2.0, 0.5, 3.0, 3.8333333333333335, 3.1666666666666665, 3.857142857142857, 3.75, 3.0, 4.0, 3.6030927835051547, 2.75, 3.853448275862069, 4.1, 2.6666666666666665, 2.1666666666666665, 3.0, 3.4166666666666665, 3.5, 2.4, 3.28125, 4.2, 4.25, 1.5, 2.5, 2.0, 3.0, 3.0, 4.75, 2.8333333333333335, 1.0, 2.5, 4.0, 1.5, 4.375, 4.0, 2.6666666666666665, 2.25, 4.022388059701493, 4.25, 2.357142857142857, 2.5, 3.7857142857142856, 4.0, 2.0, 4.0, 1.0, 3.75, 4.0, 3.375, 3.5, 3.0, 2.1666666666666665, 3.6666666666666665, 2.875, 3.75, 3.5, 2.5, 3.0, 2.3333333333333335, 3.2222222222222223, 4.0, 4.0, 3.25, 1.5, 2.75, 3.1666666666666665, 2.0, 3.5, 0.5, 4.0, 3.5, 3.3, 5.0, 3.943396226415094, 4.5, 3.75, 2.3076923076923075, 3.6511627906976742, 3.3181818181818183, 3.5, 3.5, 3.25, 2.5, 3.5, 3.0, 3.5, 2.5, 0.5, 4.038461538461538, 3.5106382978723403, 3.0, 3.5, 1.25, 4.0, 2.0, 3.1666666666666665, 4.0, 4.0, 3.5, 2.8, 2.25, 3.5, 2.8846153846153846, 3.5, 4.5, 1.0, 3.55, 3.0, 3.0, 3.5, 2.8333333333333335, 3.8, 1.875, 3.1470588235294117, 4.109090909090909, 3.4375, 3.5714285714285716, 3.75, 4.0, 2.45, 5.0, 1.9166666666666667, 3.0, 3.3, 4.0, 3.6842105263157894, 4.066433566433567, 3.45, 3.45, 3.4166666666666665, 2.5, 2.9166666666666665, 2.25, 2.5, 3.6666666666666665, 2.966666666666667, 4.142857142857143, 3.2857142857142856, 3.0, 3.0, 2.5, 2.5, 3.261904761904762, 3.5, 4.0, 3.0588235294117645, 3.7045454545454546, 3.5, 2.5, 2.1666666666666665, 2.5, 5.0, 3.5, 4.0, 2.625, 2.5, 2.6666666666666665, 3.25, 3.1666666666666665, 3.142857142857143, 2.5, 3.8859649122807016, 3.9545454545454546, 3.7962962962962963, 3.5, 3.5, 4.0, 3.8333333333333335, 3.1666666666666665, 4.0, 3.1875, 3.25, 3.857142857142857, 3.5, 2.5, 3.25, 3.5, 3.0, 3.6666666666666665, 3.5, 3.25, 4.291666666666667, 3.5, 4.0, 3.0, 4.5, 3.75, 3.9166666666666665, 3.1666666666666665, 4.0, 3.5, 3.5, 2.5, 3.7, 3.0, 4.0, 4.0, 4.5, 3.1, 3.8333333333333335, 3.6, 3.630952380952381, 3.357142857142857, 2.6666666666666665, 4.0, 3.857142857142857, 3.0, 4.25, 4.0, 3.9893617021276597, 4.043103448275862, 3.9166666666666665, 4.0, 3.760869565217391, 3.0, 4.25, 4.0, 3.0, 1.5, 0.5, 3.5, 2.7857142857142856, 3.857142857142857, 2.7142857142857144, 4.25, 4.5, 3.75, 3.75, 3.236842105263158, 2.6666666666666665, 4.0, 2.5, 3.875, 0.5, 5.0, 3.5, 3.5, 1.8333333333333333, 1.8333333333333333, 4.5, 2.5, 3.5, 3.9166666666666665, 1.1666666666666667, 2.0, 3.0, 4.0, 3.5, 3.5, 0.5, 3.0, 4.1, 4.25, 2.5, 4.0, 3.95, 4.5, 3.5, 3.75, 4.0, 5.0, 2.9285714285714284, 3.6, 4.25, 3.3333333333333335, 2.25, 3.0, 4.0, 4.0, 3.2, 2.5, 3.75, 3.6176470588235294, 2.5, 4.0, 3.1666666666666665, 3.375, 3.125, 2.0, 3.1, 2.375, 3.8333333333333335, 4.0, 3.5, 5.0, 4.357142857142857, 3.2142857142857144, 3.0, 3.5, 1.0, 2.9, 3.75, 3.6029411764705883, 3.0, 3.125, nan, 3.75, 3.5833333333333335, 2.6666666666666665, 2.375, 3.75, 2.75, 4.0, 3.5, 2.0, 2.75, 4.0, 3.3181818181818183, 3.5, 4.0, 3.0, 2.6666666666666665, 3.125, 3.0714285714285716, 3.514705882352941, 4.055555555555555, 2.0, 4.5, 3.375, 2.5, 4.0, 3.05, 4.4, 3.5, 3.25, 3.761904761904762, 3.0, 3.2291666666666665, 3.56, 4.5, 4.0, 3.2666666666666666, 4.0, 2.0, 2.0, 3.5, 3.5, 3.0, 3.323529411764706, 3.7906976744186047, 4.166666666666667, 4.0, 2.6666666666666665, 3.625, 3.5952380952380953, 2.35, 2.5, 2.7, 2.888888888888889, 2.3636363636363638, 2.75, 3.111111111111111, 4.5, 2.75, 2.75, 3.4375, 3.1666666666666665, 4.0, 3.0, 3.0, 3.91, 3.765625, 3.546875, 3.9838709677419355, 3.5, 3.625, 3.0, 3.5, 1.875, 3.05, 5.0, 3.0, 2.5, 3.25, 3.5, 3.462962962962963, 3.5, 2.85, 3.8333333333333335, 2.6666666666666665, 3.0, 4.5, 3.25, 3.0, 3.25, 4.5, 4.0, 4.0, 2.5, 2.5, 4.5, 3.0, 1.75, 3.5, 3.5, 3.6666666666666665, 3.0, 0.5, 1.5, 1.5, 3.7083333333333335, 3.8846153846153846, 4.0, 4.5, 3.5, 3.869565217391304, 3.8125, 4.333333333333333, 3.0, 3.727272727272727, 3.2222222222222223, 4.5, 2.8333333333333335, 3.5, 3.6315789473684212, 3.5, 4.045454545454546, 3.0, 3.75, 3.0, 2.75, 3.5, 4.0, 3.5, 3.75, 3.5, 3.1666666666666665, 3.392857142857143, 3.0, 4.0, 3.7857142857142856, 3.5, 3.0, 3.0, 3.5, 3.5, 3.75, 4.5, 3.6, 3.6666666666666665, 3.5, 3.5625, 3.5, 2.5, 1.5, 3.5, 4.0, 3.0, 4.0, 3.75, 2.6666666666666665, 2.3, 5.0, 4.0, 2.5, 2.6, 2.2142857142857144, 3.0, 3.5833333333333335, 1.5, 2.9, 2.75, 4.0, 5.0, 0.5, 3.0, 1.5, 3.5, 3.435185185185185, 3.9934210526315788, 3.138888888888889, 3.763157894736842, 2.5, 2.25, 2.0, 3.659090909090909, 3.3, 3.488095238095238, 2.5, 1.0, 1.5, 3.6666666666666665, 4.5, 3.0, 3.5, 1.5, 3.0, 2.5, 4.5, 3.8, 2.9166666666666665, 3.1666666666666665, 2.5, 2.8333333333333335, 3.0, 3.25, 2.0, 2.0, 1.5, 4.5, 4.108108108108108, 2.0, 2.75, 3.1666666666666665, 3.375, 3.75, 1.0, 3.0, 4.25, 3.375, 2.6666666666666665, 4.3, 4.5, 2.5, 2.5, 0.5, 4.25, 1.6, 3.5, 4.25, 5.0, 5.0, 3.5, 1.5, 3.0, 1.5, 2.0625, 3.1, 3.75, 3.75, 2.6363636363636362, 3.090909090909091, 3.25, 2.5, 3.8653846153846154, 4.0, 3.1666666666666665, 2.5, 3.0, 4.1, 2.25, 1.5, 2.625, 4.0, 3.75, 3.5, 2.625, 4.333333333333333, 4.0227272727272725, 4.5, 1.25, 2.0, 1.5, 3.0, 2.3333333333333335, 3.875, 2.0, 3.5, 4.0, 3.0, 2.5, 2.5, 4.0, 3.5, 2.5, 2.5, 3.6666666666666665, 4.0, 3.5588235294117645, 3.2777777777777777, 2.8333333333333335, 3.5, 5.0, 3.3333333333333335, 3.2962962962962963, 3.5, 3.5, 2.5, 3.5, 3.0, 3.7758620689655173, 3.8333333333333335, 2.8333333333333335, 3.75, 3.388888888888889, 4.0, 5.0, 3.466666666666667, 3.0, 3.0, 2.75, 3.5, 2.75, 4.166666666666667, 3.2857142857142856, 2.7, 3.5, 3.25, 2.9166666666666665, 3.357142857142857, 2.75, 3.0, 4.5, 4.5, 2.0, 3.0, 2.5, 4.5, 3.5, 3.1875, 4.0, 3.5, 3.6666666666666665, 3.81, 3.4444444444444446, 2.0, 1.0, 2.0, 3.5, 3.0, 4.5, 4.0, 3.2, 5.0, 3.625, 2.1666666666666665, 4.25, 2.5, 4.0, 4.0, 3.625, 3.8333333333333335, 3.640625, 2.5, 3.0, 3.75, 1.5, 3.9166666666666665, 3.7142857142857144, 3.9166666666666665, 2.75, 3.825, 4.3, 5.0, 3.2857142857142856, 4.0, 3.5, 1.5, 3.5, 0.5, 3.5, 2.5, 4.0, 3.409090909090909, 3.0, 3.982142857142857, 3.466666666666667, 3.0, 1.25, 3.0, 2.5, 3.0, 1.5, 3.736842105263158, 3.0, 2.5714285714285716, 2.0, 3.125, 4.75, 4.0, 4.0, 3.75, 3.716666666666667, 3.5, 3.0, 3.629032258064516, 2.5, 2.5, 3.5, 4.0, 3.0, 3.9285714285714284, 4.5, 1.5, 1.5, 1.875, 3.5, 2.25, 3.7916666666666665, 4.0, 1.5, 4.0, 4.375, 3.5, 4.5, 4.5, 2.5, 3.8125, 2.0, 1.5, 4.107142857142857, 1.5, 3.5, 4.0, 3.0, 2.5, 3.4166666666666665, 3.943661971830986, 3.125, 3.6666666666666665, 3.5, 2.0, 4.0, 3.0, 5.0, 3.0, 1.5, 3.3333333333333335, 3.5, 4.25, 3.875, 3.0, 4.0, 3.25, 3.1666666666666665, 3.0, 4.0, 3.5, 3.5, 3.5, 4.5, 2.9, 4.5, 1.5, 4.0, 3.0, 3.0, 2.5, 3.9166666666666665, 2.875, 3.5, 2.0, 2.0833333333333335, 3.625, 4.0, 4.5, 5.0, 4.0, 4.0, 3.5, 3.5, 3.0, 3.5, 4.75, 2.2, 2.5, 2.5, 3.0, 3.75, 3.0833333333333335, 3.7777777777777777, 2.8333333333333335, 1.5, 2.875, 1.5, 3.5, 2.0, 2.0, 2.5, 3.0, 3.25, 3.75, 4.25, 3.3, 1.5, 4.0, 4.0, 1.5, 3.2, 3.0, 4.0, 3.0, 5.0, 2.0, 3.2142857142857144, 3.5625, 2.0, 4.333333333333333, 2.0, 2.75, 3.375, 3.685185185185185, 3.55, 3.75, 3.375, 3.357142857142857, 3.0, 4.0, 2.5, 2.5, 3.0, 3.0, 1.0, 3.409090909090909, 4.5, 3.125, 3.0, 3.2954545454545454, 3.5, 3.25, 3.0, 4.25, 2.0, 3.875, 1.0, 2.0, 3.5, 2.5, 3.607142857142857, 3.0, 4.0, 3.026315789473684, 3.3125, 3.5789473684210527, 2.9166666666666665, 3.4166666666666665, 2.0, 3.4166666666666665, 2.7857142857142856, 1.0, 4.5, 1.5, 3.25, 3.5, 1.875, 5.0, 4.0, 4.0, 1.8333333333333333, 4.5, 4.214285714285714, 2.5, 3.375, 2.3333333333333335, 3.2, 2.25, 2.0, 4.0, 3.375, 3.5, 4.125, 1.75, 1.875, 4.0, 3.25, 3.738095238095238, 3.4, 3.4545454545454546, 3.3, 3.0, 3.0, 4.0, 2.5, 1.5, 4.0, 3.933333333333333, 3.25, 3.75, 0.5, 1.0, 3.578125, 2.6666666666666665, 4.0, 4.15625, 3.1666666666666665, 3.0, 3.8181818181818183, 3.5, 3.75, 2.5, 1.0, 4.125, 3.0, 3.125, 3.5, 3.5, 1.0, 2.25, 3.25, 2.25, 4.0476190476190474, 4.0, 4.5, 4.0, 2.5, 4.5, 1.5, 3.0, 4.0, 3.625, 3.625, 3.4375, 3.25, 3.3095238095238093, 3.9705882352941178, 3.5, 2.0, 3.25, 3.0, 3.6346153846153846, 3.58, 2.642857142857143, 2.875, 1.5, 4.5, 4.571428571428571, 3.0, 3.6206896551724137, 3.642857142857143, 3.9166666666666665, 3.0, 3.75, 2.5, 1.5, 4.0, 3.25, 4.0, 3.92, 3.0, 3.0, 3.6875, 3.0, 2.5, 3.3636363636363638, 3.4285714285714284, 3.0, 4.0, 4.5, 2.75, 4.5, 2.5, 5.0, 2.0, 5.0, 4.0, 2.0, 2.25, 5.0, 3.1666666666666665, 2.0, 3.0, 4.5, 2.0, 2.25, 1.5, 4.25, 3.5, 5.0, 2.6666666666666665, 3.870967741935484, 2.3333333333333335, 3.3333333333333335, 4.5, 2.25, 4.5, 2.0, 3.0, 1.5, 5.0, 3.0, 2.0, 2.5, 2.25, 3.7788461538461537, 3.5, 2.0, 2.625, 3.993150684931507, 1.0, 2.0, 3.25, 4.0, 5.0, 2.125, 5.0, 3.5, 3.25, 2.75, 3.75, 3.0, 1.75, 2.0, 0.5, 3.0, 4.25, 4.5, 3.7419354838709675, 2.8, 4.333333333333333, 3.5, 3.3333333333333335, 4.5, 4.5, 4.0, 3.9285714285714284, 2.6363636363636362, 4.0, 4.5, 0.5, 2.5, 2.0, 3.75, 4.0, 2.2857142857142856, 4.0, 2.9166666666666665, 0.5, 1.5, 3.8333333333333335, 3.2916666666666665, 4.5, 1.5, 2.8214285714285716, 3.8333333333333335, 2.6153846153846154, 2.5, 4.0, 2.75, 3.5, 3.8125, 4.0, 2.75, 2.5, 1.5, 3.5, 2.9583333333333335, 3.977272727272727, 3.6470588235294117, 0.5, 3.0, 3.0, 3.5, 3.5, 4.5, 3.388888888888889, 3.8333333333333335, 3.5, 3.6842105263157894, 3.2777777777777777, 3.7666666666666666, 3.3461538461538463, 3.823529411764706, 1.5, 2.5, 4.5, 1.875, 4.333333333333333, 2.0, 3.5, 2.25, 2.0, 5.0, 4.5, 4.0394736842105265, 3.7162162162162162, 4.0, 3.433333333333333, 3.0, 2.0, 2.6, 3.8333333333333335, 3.3, 4.0508474576271185, 4.5, 3.5, 2.0, 4.5, 3.5, 3.0, 3.5, 3.0, 4.25, 4.5, 3.0, 4.0, 3.5, 2.0, 2.75, 1.5, 2.3, 4.0, 1.5, 3.1, 3.5, 4.0, 3.25, 2.0, 3.5, 4.0, 3.0, 5.0, 2.5, 4.0, 4.0, 3.5, 2.8333333333333335, 4.0, 3.3333333333333335, 2.9375, 3.5, 3.0, 5.0, 1.5, 1.5, 1.0, 2.75, 3.8, 3.5, 4.25, 3.0, 3.0, 2.8333333333333335, 3.5, 2.1666666666666665, 3.0, 2.0, 3.9, 2.0, 4.833333333333333, 3.8448275862068964, 2.0, 2.5, 3.0, 3.769230769230769, 3.0, 3.25, 3.5, 4.166666666666667, 3.8536585365853657, 4.0, 3.5, 3.8333333333333335, 3.9107142857142856, 3.0, 4.5, 3.6666666666666665, 4.0, 2.0, 2.5, 1.5, 4.5, 3.0, 1.5, 3.0, 3.0, 4.0, 4.0, 3.5, 4.02, 3.6666666666666665, 4.5, 3.869565217391304, 2.5, 2.75, 4.25, 2.3333333333333335, 1.5, 2.5, 3.0, 3.7058823529411766, 4.5, 4.0, 3.0, 3.5, 3.0, 3.260869565217391, 5.0, 3.875, 3.75, 2.5, 3.6363636363636362, 3.7, 4.0, 3.0, 3.8, 4.0, 1.8333333333333333, 3.5, 3.5, 2.5, 1.5, 5.0, 2.0, 3.0, 3.5, 3.4166666666666665, 2.5, 2.5, 4.0, 2.0, 4.0, 3.5, 5.0, 4.0, 2.9, 3.0, 4.5, 3.75, 2.8, 2.0, 3.4583333333333335, 3.986111111111111, 4.5, 3.5, 3.5, 2.5, 2.25, 3.5, 2.0, 5.0, 5.0, 3.25, 4.333333333333333, 4.5, 2.7, 2.5, 2.5, 2.5, 4.0, 4.5, 3.0, 4.0, 2.0, 2.5, 3.5, 4.0, 4.125, 3.0, 4.5, 3.5, 0.5, 2.5, 1.5, 3.8191489361702127, 2.5, 3.8536585365853657, 0.5, 3.4166666666666665, 3.5185185185185186, 3.7857142857142856, 2.5, 3.7222222222222223, 2.1, 3.8333333333333335, 3.727272727272727, 4.0, 4.025, 3.925925925925926, 3.6136363636363638, 3.7045454545454546, 3.0714285714285716, 4.15625, 2.0, 4.5, 1.0, 2.75, 4.5, 5.0, 5.0, 2.0, 3.0, 1.0, 1.5, 4.75, 3.0, 3.25, 4.0, 3.75, 4.375, 3.875, 4.0, 4.5, 4.0, 2.0, 3.5, 3.25, 3.0, 4.25, 3.5, 3.5, 4.0, 4.0, 2.0, 3.5833333333333335, 3.75, 3.75, 4.5, 4.0, 1.5, 1.0, 4.5, 4.0, 4.5, 3.75, 4.0, 3.0, 2.0, 3.8, 3.5, 1.0, 4.0, 3.9, 2.5, 3.5, 3.5, 3.5, 4.0, 4.0, 4.0, 5.0, 2.875, 4.5, 2.0, 0.5, 4.0, 1.5, 3.25, 2.75, 3.0, 1.0, 3.5, 2.25, 2.5, 2.1666666666666665, 3.0, 3.5, 4.0, 2.0, 3.75, 4.0, 2.5, 4.0, 2.8333333333333335, 3.25, 2.375, 4.0, 2.75, 3.0, 4.5, 4.0, 4.5, 3.125, 4.5, 5.0, 5.0, 3.0, 2.0, 3.0, 3.0, 5.0, 3.0, 3.0, 4.0, 3.75, 4.5, 2.5, 5.0, 2.75, 5.0, 1.0, 3.25, 1.75, 3.5, 1.0, 2.0, 4.5, 1.5, 3.75, 1.875, 3.0, 3.0, 4.0, 1.5, 3.5, 2.0, 2.0, 1.5, 3.4444444444444446, 1.0, 4.0, 4.0, 3.0, 2.0, 1.5, 4.25, 3.5, 4.5, 2.5, 4.0, 1.5, 3.7142857142857144, 3.5, 0.5, 3.0, 3.6875, 3.2, 3.0, 0.5, 2.0, 2.0, 5.0, 2.0, 5.0, 3.813953488372093, 3.5, 2.5, 4.333333333333333, 3.7, 2.5833333333333335, 3.6785714285714284, 4.0, 3.0, 3.0714285714285716, 2.75, 3.3333333333333335, 3.5, 2.9166666666666665, 2.375, 3.466666666666667, 2.7777777777777777, 3.0, 3.1666666666666665, 3.0, 2.5, 3.0588235294117645, 1.0, 5.0, 5.0, 3.5, 2.0, 4.5, 5.0, 3.75, 2.5, 3.4166666666666665, 3.0, 1.5, 1.0, 2.25, 2.0, 1.5, 1.5, 2.5, 3.5, 1.5, 2.34375, 2.0, 3.5, 2.0, 4.0, 3.6363636363636362, 4.0, 3.4722222222222223, 0.5, 4.0, 3.0, 3.3, 3.5, 1.5, 1.5, 5.0, 3.0, 0.5, 2.0, 4.5, 3.903225806451613, 3.0, 5.0, 2.8333333333333335, 3.5454545454545454, 3.0, 1.25, 3.5, 3.25, 1.5, 2.5, 2.25, 2.0, 3.6538461538461537, 4.5, 3.5625, 2.0, 3.25, 4.0, 4.0, 3.0, 4.0, 4.5, 3.5, 1.5, 4.0, 5.0, 2.6666666666666665, 4.214285714285714, 3.5, 4.5, 2.0, 3.2, 3.25, 2.5, 3.75, 2.5, 4.0, 3.5, 3.5, 0.5, 3.5, 5.0, 3.75, 3.5, 4.0, 3.3333333333333335, 3.0, 5.0, 0.5, 3.0, 1.5, 4.5, 3.125, 2.75, 3.0, 4.25, 2.0, 5.0, 3.0833333333333335, 4.0, 4.157894736842105, 2.5, 3.75, 2.0, 4.5, 4.0, 1.0, 2.5, 2.875, 1.5, 2.25, 1.5, 3.0, 3.3076923076923075, 2.5, 3.75, 3.4375, 4.0, 1.5, 5.0, 4.0, 5.0, 2.8125, 4.5, 2.8333333333333335, 4.0, 3.0, 2.0, 0.5, 4.5, 2.0, 1.5, 2.0, 4.5, 4.5, 2.5, 3.0, 3.5, 4.0, 2.5, 1.5, 3.0, 4.0, 3.75, 5.0, 4.0, 5.0, 2.0, 2.0, 4.0, 3.75, 4.166666666666667, 4.75, 3.0, 5.0, 3.5, 2.5, 2.5, 3.75, 3.0, 3.0, 3.9615384615384617, 4.5, 3.25, 3.5, 2.0, 2.0, 4.0, 4.5, 2.5, 3.125, 4.0, 3.5, 4.0, 4.0, 5.0, 2.6666666666666665, 2.5, 1.5, 3.375, 5.0, 5.0, 2.5, 2.0, 4.5, 2.0, 2.0, 3.0, 3.85, 4.25, 2.5, 4.5, 4.0, 3.0, 2.0, 2.0, 2.8333333333333335, 1.5, 2.5, 2.0, 1.5, 0.5, 4.0, 2.875, 2.5, 3.0, 2.0, 0.5, 3.5, 1.5, 3.6785714285714284, 2.0, 3.890625, 3.3333333333333335, 2.5, 3.125, 3.5, 3.5, 3.5, 4.0, 1.5, 5.0, 4.375, 2.0, 4.0, 4.0, 3.0, 4.0, 2.8333333333333335, 2.0, 3.5, 4.0, 2.0, 3.5, 3.25, 2.5, 2.0, 5.0, 4.166666666666667, 3.8333333333333335, 2.5, 1.0, 2.6, 2.5, 2.6666666666666665, 4.0, 2.5, 3.0, 2.0, 2.25, 2.5, 3.576923076923077, 2.6666666666666665, 2.5, 4.0, 1.5, 1.0, 3.8333333333333335, 1.5, 1.5, 5.0, 3.5, 3.8333333333333335, 1.5, 2.5, 2.5, 2.6666666666666665, 2.0, 2.5, 3.5, 3.642857142857143, 5.0, 2.5, 4.5, 3.6666666666666665, 3.0, 2.5, 3.6363636363636362, 4.5, 3.0, 3.25, 3.5, 2.0, 3.75, 2.75, 4.0, 2.5, 2.25, 4.5, 3.125, 3.625, 4.5, 3.0, 2.7222222222222223, 1.5, 3.0833333333333335, 2.75, 3.3333333333333335, 1.0, 3.0, 3.0, 5.0, 2.5, 3.5, 4.5, 2.0, 4.5, 0.5, 2.625, 3.1666666666666665, 4.5, 3.75, 3.625, 1.0, 3.0, 3.8333333333333335, 3.5625, 3.5, 3.3, 1.0, 1.5, 3.25, 4.0, 3.5, 5.0, 3.5833333333333335, 4.0, 4.0, 1.0, 3.5, 3.0, 4.5, 3.0, 2.5, 4.0, 3.0, 4.0, 4.0, 4.0, 4.0, 3.9375, 3.0, 2.5, 3.5, 3.5, 4.5, 3.980769230769231, 4.0, 4.5, 3.5, 5.0, 1.5, 3.5, 2.5, 2.0, 2.0, 1.5, 3.388888888888889, 4.5, 2.5, 2.875, 3.75, 2.0, 1.5, 2.0, 4.0, 2.5, 2.9, 4.5, 1.0, 3.8333333333333335, 0.5, 4.5, 4.0, 3.25, 4.0, 3.5, 4.75, 4.0, 4.0, 3.45, 3.5, 1.0, 3.925925925925926, 3.3333333333333335, 3.0, 4.5, 3.6666666666666665, 3.8, 3.0, 4.25, 3.125, 3.75, 5.0, 2.5, 4.5, 4.5, 3.5, 3.7142857142857144, 3.5, 4.5, 4.0, 4.0, 3.0, 4.5, 4.142857142857143, 3.6333333333333333, 4.28, 3.125, 3.75, 4.0, 2.5, 3.5, 3.8, 2.0, 3.75, 3.0, 3.75, 4.0, 1.0, 4.5, 4.5, 2.5, 1.5, 1.0, 3.0, 2.8, 3.5, 4.0, 4.0, 3.0, 4.0, 4.125, 3.0, 4.0, 3.5, 2.3333333333333335, 2.0, 4.0, 3.0, 3.5, 3.5, 3.0, 4.2, 4.0, 4.0, 3.5, 3.0, 4.333333333333333, 3.75, 4.0, 3.25, 4.5, 3.0, 3.0, 2.25, 5.0, 2.875, 4.25, 4.0, 4.0, 4.5, 3.5, 2.5, 2.875, 0.5, 4.5, 2.0, 4.25, 3.0, 4.0, 4.75, 3.423076923076923, 2.5, 4.0, 3.5, 3.0, 3.5, 4.5, 3.5, 4.0, 3.3333333333333335, 0.5, 1.6666666666666667, 3.4, 1.5, 3.5, 2.6666666666666665, 2.5, 3.0, 3.0, 3.5, 3.0625, 4.0, 3.8055555555555554, 2.0, 4.5, 3.5, 3.25, 4.0, 1.0, 4.5, 4.0, 2.0, 4.5, 3.0, 4.75, 3.3333333333333335, 2.8333333333333335, 3.5384615384615383, 4.5, 3.3333333333333335, 2.0, 3.5, 3.5, 3.5, 4.25, 3.5, 4.0, 5.0, 5.0, 3.0, 3.6666666666666665, 4.0, 1.0, 4.0, 3.0, 1.5, 4.0, 1.5, 3.8333333333333335, 3.125, 3.5, 3.6875, 4.0, 4.0, 4.0, 4.5, 3.75, 4.25, 3.0, 1.5, 3.75, 1.5, 3.5, 4.5, 2.5, 3.8333333333333335, 2.0, 2.5, 3.5, 2.875, 1.5, 3.5, 4.0, 3.5, 3.5, 4.0, 3.5, 3.5, 1.5, 4.5, 3.5, 2.25, 4.0, 2.5, 0.5, 4.0, 3.25, 4.0, 3.0, 4.0, 2.75, 4.5, 2.0, 4.75, 3.0, 3.0, 2.75, 3.0, 3.25, 3.0, 3.875, 3.9, 5.0, 4.5, 3.6666666666666665, 3.5, 4.5, 4.0, 4.5, 2.5, 3.0, 3.75, 2.5, 1.0, 2.5, 3.5, 1.5, 4.0, 1.0, 1.5, 4.5, 3.5, 3.0, 4.0, 4.0, 3.5, 4.0, 3.5, 3.5, 3.5]

2212

In [427]:
latest_movies["average_rating"] = average_rating

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [431]:
latest_movies.sort_values("average_rating", ascending=False)[:50].sort_values("year",ascending=False)

,movieId,title,genres,year,average_rating
9633,179133,Loving Vincent (2017),Animation|Crime|Drama,2017,5.0
9634,179135,Blue Planet II (2017),Documentary,2017,5.0
9543,172705,Tickling Giants (2017),Documentary,2017,5.0
9284,158027,SORI: Voice from the Heart (2016),Drama|Sci-Fi,2016,5.0
9255,156025,Ice Age: The Great Egg-Scapade (2016),Adventure|Animation|Children|Comedy,2016,5.0
9337,160644,Indignation (2016),Drama,2016,5.0
9396,164367,The Girl with All the Gifts (2016),Drama|Horror|Sci-Fi|Thriller,2016,5.0
9365,162344,Tom Segura: Mostly Stories (2016),Comedy,2016,5.0
9299,158882,All Yours (2016),Comedy|Drama|Romance,2016,5.0
9096,143559,L.A. Slasher (2015),Comedy|Crime|Fantasy,2015,5.0
9180,149350,Lumberjack Man (2015),Comedy|Horror,2015,5.0
9042,141718,Deathgasm (2015),Comedy|Horror,2015,5.0
9055,141928,Bloodsucking Bastards (2015),Comedy|Horror,2015,5.0
9094,143511,Human (2015),Documentary,2015,5.0
9022,140627,Battle For Sevastopol (2015),Drama|Romance|War,2015,5.0
9068,142444,The Editor (2015),Comedy|Horror|Mystery,2015,5.0
9131,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy,2015,5.0
9152,147410,A Perfect Day (2015),Comedy|Drama,2015,5.0
8646,120138,PK (2014),Comedy|Drama|Fantasy|Mystery|Romance,2014,5.0
8591,117531,Watermark (2014),Documentary,2014,5.0
8516,114265,Laggies (2014),Comedy|Romance,2014,5.0
8504,113829,"One I Love, The (2014)",Comedy|Drama|Romance,2014,5.0
8334,107771,Only Lovers Left Alive (2013),Drama|Horror|Romance,2013,5.0
8381,109633,"Garden of Words, The (Koto no ha no niwa) (2013)",Animation|Romance,2013,5.0
8383,109687,Particle Fever (2013),Documentary,2013,5.0
8338,107951,Hunting Elephants (2013),Comedy|Crime,2013,5.0
8343,108078,Chinese Puzzle (Casse-tÃªte chinois) (2013),Comedy|Romance,2013,5.0
9186,149566,Unicorn City (2012),Comedy|Romance,2012,5.0
8074,99636,English Vinglish (2012),Comedy|Drama,2012,5.0
8610,118270,Hellbenders (2012),Comedy|Horror|Thriller,2012,5.0
8107,100556,"Act of Killing, The (2012)",Documentary,2012,5.0
8366,109241,On the Other Side of the Tracks (De l'autre cÃ´...,Action|Comedy|Crime,2012,5.0
9185,149508,Spellbound (2011),Comedy|Romance,2011,5.0
8707,124404,"Snowflake, the White Gorilla (2011)",Adventure|Animation|Children|Comedy,2011,5.0
8946,136556,Kung Fu Panda: Secrets of the Masters (2011),Animation|Children,2011,5.0
7886,94810,Eva (2011),Drama|Fantasy|Sci-Fi,2011,5.0
7521,84273,Zeitgeist: Moving Forward (2011),Documentary,2011,5.0
9129,146662,Dragons: Gift of the Night Fury (2011),Adventure|Animation|Comedy,2011,5.0
8645,120130,Into the Forest of Fireflies' Light (2011),Animation|Drama|Fantasy,2011,5.0
9234,152711,Who Killed Chea Vichea? (2010),Documentary,2010,5.0
8627,118894,Scooby-Doo! Abracadabra-Doo (2010),Animation|Children|Mystery,2010,5.0
7828,93022,Miss Nobody (2010),Comedy|Crime,2010,5.0
7551,85295,Scooby-Doo! Curse of the Lake Monster (2010),Adventure|Children|Comedy|Mystery,2010,5.0
7491,82744,Faster (2010),Action|Crime|Drama,2010,5.0
7827,93008,"Very Potter Sequel, A (2010)",Comedy|Musical,2010,5.0
7400,79897,Get Low (2009),Comedy|Drama|Mystery,2009,5.0
8355,108795,Wonder Woman (2009),Action|Adventure|Animation|Fantasy,2009,5.0
7903,95149,Superman/Batman: Public Enemies (2009),Action|Animation|Fantasy,2009,5.0
7364,78836,Enter the Void (2009),Drama,2009,5.0
7059,69469,Garfield's Pet Force (2009),Animation,2009,5.0

In [428]:
latest_movies

,movieId,title,genres,year,average_rating
6797,60684,Watchmen (2009),Action|Drama|Mystery|Sci-Fi|Thriller|IMAX,2009,3.988372
6884,63072,"Road, The (2009)",Adventure|Drama|Thriller,2009,3.888889
6949,65585,Bride Wars (2009),Comedy|Romance,2009,3.500000
6952,65601,My Bloody Valentine 3-D (2009),Horror|Thriller,2009,2.000000
6956,65682,Underworld: Rise of the Lycans (2009),Action|Fantasy|Horror|Thriller,2009,3.642857
...,...,...,...,...,...
9736,193579,Jon Stewart Has Left the Building (2015),Documentary,2015,3.500000
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,2017,4.000000
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,2017,3.500000
9739,193585,Flint (2017),Drama,2017,3.500000
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,2018,3.500000

In [322]:
ratings['timestamp'].max()

1537799250

In [323]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [332]:
latest_ratings = ratings[ratings['timestamp'] > ratings['timestamp'].quantile(.9)]
latest_ratings

       userId  movieId  rating   timestamp
1434       15        1     2.5  1510577970
1436       15       47     3.5  1510571970
1440       15      260     5.0  1510571946
1441       15      293     3.0  1510571962
1442       15      296     4.0  1510571877
...       ...      ...     ...         ...
95960     601   170705     5.0  1521397596
95961     601   172591     4.5  1521467819
95962     601   174055     4.0  1521397739
95963     601   176371     4.0  1521397623
95964     601   177765     4.5  1521397621

[10084 rows x 4 columns]

In [328]:
ratings.shape

(100836, 4)

In [70]:
combined = pd.merge(ratings, movies, on="movieId")

In [71]:
combined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [72]:
print(ratings.shape)
print(movies.shape)
print(combined.shape)

(100836, 4)
(9742, 3)
(100836, 6)

In [224]:
ratings_matrix = pd.pivot_table(ratings, index="userId", columns="movieId", values="rating")
ratings_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
ratings_matrix.mean(axis=1)

userId
1      4.366379
2      3.948276
3      2.435897
4      3.555556
5      3.636364
         ...
606    3.657399
607    3.786096
608    3.134176
609    3.270270
610    3.688556
Length: 610, dtype: float64

In [94]:
ratings_matrix.min(axis=1)

userId
1      1.0
2      2.0
3      0.5
4      1.0
5      1.0
      ...
606    0.5
607    1.0
608    0.5
609    3.0
610    0.5
Length: 610, dtype: float64

In [95]:
ratings_matrix.max(axis=1)

userId
1      5.0
2      5.0
3      5.0
4      5.0
5      5.0
      ...
606    5.0
607    5.0
608    5.0
609    4.0
610    5.0
Length: 610, dtype: float64

In [89]:
r = ratings_matrix.iloc[1]
r[r.notna()]

movieId
318       3.0
333       4.0
1704      4.5
3578      4.0
6874      4.0
8798      3.5
46970     4.0
48516     4.0
58559     4.5
60756     5.0
68157     4.5
71535     3.0
74458     4.0
77455     3.0
79132     4.0
80489     4.5
80906     5.0
86345     4.0
89774     5.0
91529     3.5
91658     2.5
99114     3.5
106782    5.0
109487    3.0
112552    4.0
114060    2.0
115713    3.5
122882    5.0
131724    5.0
Name: 2, dtype: float64

In [225]:
# Building User-User Collaborative Filtering:

# 1. Normalize the values:
def standardize(row):
    return (row - row.mean())/(row.max()-row.min())

ratings_matrix2 = ratings_matrix.apply(standardize, axis=1).fillna(0)
ratings_matrix2

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,-0.091595,0.000000,-0.091595,0.0,0.0,-0.091595,0.0000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.090909,0.000000,0.000000,0.0,0.0,0.000000,0.0000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,-0.257200,0.000000,0.000000,0.0,0.0,0.000000,-0.2572,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.053476,0.000000,0.000000,0.0,0.0,0.000000,0.0000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,-0.140928,-0.252039,-0.252039,0.0,0.0,0.000000,0.0000,0.0,0.0,0.192405,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,-0.270270,0.000000,0.000000,0.0,0.0,0.000000,0.0000,0.0,0.0,0.729730,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,0.291432,0.000000,0.000000,0.0,0.0,0.291432,0.0000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [184]:
ratings_matrix2.mean(axis=1)

userId
1      1.096066e-18
2      2.269198e-19
3      2.283470e-19
4      1.141735e-18
5      1.255908e-19
           ...
606   -4.018907e-18
607   -9.133879e-20
608    2.922841e-18
609    3.653552e-19
610   -3.105519e-18
Length: 610, dtype: float64

In [195]:
ratings_matrix2.iloc[ratings_matrix2.index.get_loc(1)]

movieId
1        -0.091595
2         0.000000
3        -0.091595
4         0.000000
5         0.000000
            ...
193581    0.000000
193583    0.000000
193585    0.000000
193587    0.000000
193609    0.000000
Name: 1, Length: 9724, dtype: float64

In [188]:
ratings_matrix2.iloc[0]

movieId
1        -0.091595
2         0.000000
3        -0.091595
4         0.000000
5         0.000000
            ...
193581    0.000000
193583    0.000000
193585    0.000000
193587    0.000000
193609    0.000000
Name: 1, Length: 9724, dtype: float64

In [98]:
from sklearn.metrics.pairwise import cosine_similarity
user_similarity = cosine_similarity(ratings_matrix2)

In [99]:
user_similarity_df = pd.DataFrame(user_similarity, index=ratings_matrix.index, columns=ratings_matrix.index)

In [100]:
user_similarity_df

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.001265,0.000553,0.048419,0.021847,-0.045497,-0.006200,0.047013,0.019510,-0.008754,...,0.018127,-0.017172,-0.015221,-0.037059,-0.029121,0.012016,0.055261,0.075224,-0.025713,0.010932
2,0.001265,1.000000,0.000000,-0.017164,0.021796,-0.021051,-0.011114,-0.048085,0.000000,0.003012,...,-0.050551,-0.031581,-0.001688,0.000000,0.000000,0.006226,-0.020504,-0.006001,-0.060091,0.024999
3,0.000553,0.000000,1.000000,-0.011260,-0.031539,0.004800,0.000000,-0.032471,0.000000,0.000000,...,-0.004904,-0.016117,0.017749,0.000000,-0.001431,-0.037289,-0.007789,-0.013001,0.000000,0.019550
4,0.048419,-0.017164,-0.011260,1.000000,-0.029620,0.013956,0.058091,0.002065,-0.005874,0.051590,...,-0.037687,0.063122,0.027640,-0.013782,0.040037,0.020590,0.014628,-0.037569,-0.017884,-0.000995
5,0.021847,0.021796,-0.031539,-0.029620,1.000000,0.009111,0.010117,-0.012284,0.000000,-0.033165,...,0.015964,0.012427,0.027076,0.012461,-0.036272,0.026319,0.031896,-0.001751,0.093829,-0.000278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.012016,0.006226,-0.037289,0.020590,0.026319,-0.009137,0.028326,0.022277,0.031633,-0.039946,...,0.053683,0.016384,0.098011,0.061078,0.019678,1.000000,0.017927,0.056676,0.038422,0.075464
607,0.055261,-0.020504,-0.007789,0.014628,0.031896,0.045501,0.030981,0.048822,-0.012161,-0.017656,...,0.049059,0.038197,0.049317,0.002355,-0.029381,0.017927,1.000000,0.044514,0.019049,0.021860
608,0.075224,-0.006001,-0.013001,-0.037569,-0.001751,0.021727,0.028414,0.071759,0.032783,-0.052000,...,0.069198,0.051388,0.012801,0.006319,-0.007978,0.056676,0.044514,1.000000,0.050714,0.054454
609,-0.025713,-0.060091,0.000000,-0.017884,0.093829,0.053017,0.008754,0.077180,0.000000,-0.040090,...,0.043465,0.062400,0.015334,0.094038,-0.054722,0.038422,0.019049,0.050714,1.000000,-0.012471
610,0.010932,0.024999,0.019550,-0.000995,-0.000278,0.009603,0.068430,0.017144,0.051898,-0.026004,...,0.021603,0.030061,0.051255,0.015621,0.069837,0.075464,0.021860,0.054454,-0.012471,1.000000

In [216]:
def get_similar_users(userid):
    return user_similarity_df[userid].sort_values(ascending = False)[:20]

In [215]:
user_similarity_df[userid].sort_values(ascending = False)[:20]

userId
1      1.000000
301    0.124799
597    0.102631
414    0.101348
477    0.099217
57     0.099070
369    0.098295
206    0.096852
535    0.096493
590    0.095191
418    0.094153
120    0.092770
75     0.091987
577    0.089396
198    0.088883
160    0.088133
226    0.088068
266    0.086064
312    0.086017
19     0.085249
Name: 1, dtype: float64

In [217]:
similar_users = get_similar_users(1)
similar_users

for index, value in similar_users.iteritems():
    print(index, value)

1 0.9999999999999979
301 0.1247990651791128
597 0.10263065929063689
414 0.10134803449460612
477 0.09921664240127351
57 0.09907007791369307
369 0.0982945435040592
206 0.09685159012412188
535 0.09649292687545007
590 0.09519062577565075
418 0.09415261937134856
120 0.09277002084064918
75 0.09198682608990613
577 0.08939600270877791
198 0.08888293681851735
160 0.0881334593763104
226 0.08806819064066915
266 0.086063912341889
312 0.08601683283327484
19 0.08524936991624195

In [380]:
list1 = [1,2,3]
list2 = [4,5,6]
x = []
y = [34]
x + y + list1 + list2
y = 45
x.append(y)
x

[45]

In [449]:
def get_movies(movie_ids):
    output = pd.DataFrame()
    for movieid in movie_ids:
        output = output.append(movies[movies['movieId'] == movieid])
    return output

In [450]:
movie_ids = movie_watched_by_user(userid)
get_movies(movie_ids)

,movieId,title,genres,year,average_rating
257,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1994,4.197068
314,356,Forrest Gump (1994),Comedy|Drama|Romance|War,1994,4.164134
506,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,1992,3.792350
514,597,Pretty Woman (1990),Comedy|Romance,1990,3.485185
694,912,Casablanca (1942),Drama|Romance,1942,4.240000
...,...,...,...,...,...
8636,119145,Kingsman: The Secret Service (2015),Action|Adventure|Comedy|Crime,2015,3.986111
8787,129428,The Second Best Exotic Marigold Hotel (2015),Comedy|Drama,2015,3.000000
8929,136020,Spectre (2015),Action|Adventure|Crime,2015,3.058824
8970,137595,Magic Mike XXL (2015),Comedy|Drama,2015,4.000000
9006,140110,The Intern (2015),Comedy,2015,3.653846

In [457]:
def get_movie_recommendation_ids(userid):
    movies_watched = movies_watched_by_user(userid)
    r = pd.Series()
    similar_users = get_similar_users(userid)
    for userid, score in similar_users.iteritems():
        x = ratings_matrix2.iloc[ratings_matrix2.index.get_loc(userid)]
        for movie_id in movies_watched:
            x = x.drop(index=movie_id)
        r = r.append(x)

    r = r.sort_values(ascending=False)[:50]
    
    return r
        
        
# def get_movie_names(movie_ids):
#     x = []
#     for movieid in movie_ids:
#         movie = movies[movies['movieId'] == movieid]['title'].values
#         movie = movie.tolist()
#         x = x + movie
#     return x


def get_movie_names(movie_ids):
    output = pd.DataFrame()
    for movieid in movie_ids:
        output = output.append(movies[movies['movieId'] == movieid])
    return output


def movies_watched_by_user(userid):
    return ratings[(ratings['userId'] == userid)]['movieId'].tolist()

def get_movies_liked(userid):
    ratings = ratings_matrix2.iloc[ratings_matrix2.index.get_loc(userid)]
    mean_rating_by_user = ratings.mean()
    movies_liked_ids = ratings[ratings.values > mean_rating_by_user].index
    return get_movie_names(movies_liked_ids)


userid = 10
print("Movies Watched by userid:",userid)
movie_ids = movie_watched_by_user(userid)
get_movies(movie_ids)

Movies Watched by userid: 10

,movieId,title,genres,year,average_rating
257,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1994,4.197068
314,356,Forrest Gump (1994),Comedy|Drama|Romance|War,1994,4.164134
506,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,1992,3.792350
514,597,Pretty Woman (1990),Comedy|Romance,1990,3.485185
694,912,Casablanca (1942),Drama|Romance,1942,4.240000
...,...,...,...,...,...
8636,119145,Kingsman: The Secret Service (2015),Action|Adventure|Comedy|Crime,2015,3.986111
8787,129428,The Second Best Exotic Marigold Hotel (2015),Comedy|Drama,2015,3.000000
8929,136020,Spectre (2015),Action|Adventure|Crime,2015,3.058824
8970,137595,Magic Mike XXL (2015),Comedy|Drama,2015,4.000000
9006,140110,The Intern (2015),Comedy,2015,3.653846

In [454]:
print("movies Liked by user: ", userid)
movies_liked = get_movies_liked(userid)
print("Count :", len(movies_liked))
movies_liked

movies Liked by user:  10
Count : 80

,movieId,title,genres,year,average_rating
314,356,Forrest Gump (1994),Comedy|Drama|Romance|War,1994,4.164134
506,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,1992,3.792350
514,597,Pretty Woman (1990),Comedy|Romance,1990,3.485185
694,912,Casablanca (1942),Drama|Romance,1942,4.240000
1322,1784,As Good as It Gets (1997),Comedy|Drama|Romance,1997,3.697917
...,...,...,...,...,...
8494,113394,"Pretty One, The (2013)",Comedy|Drama,2013,4.000000
8787,129428,The Second Best Exotic Marigold Hotel (2015),Comedy|Drama,2015,3.000000
8929,136020,Spectre (2015),Action|Adventure|Crime,2015,3.058824
8970,137595,Magic Mike XXL (2015),Comedy|Drama,2015,4.000000
9006,140110,The Intern (2015),Comedy,2015,3.653846

In [455]:
movie_ids = get_movie_recommendation_ids(userid)
print("Movies Recommended for User: ", userid)
movies_recco = get_movie_names(movie_ids.index)
print("Count :", len(movies_recco))
movies_recco

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

Movies Recommended for User:  10
Count : 50

,movieId,title,genres,year,average_rating
3138,4223,Enemy at the Gates (2001),Drama|War,2001,3.512500
8683,122886,Star Wars: Episode VII - The Force Awakens (2015),Action|Adventure|Fantasy|Sci-Fi|IMAX,2015,3.853659
224,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,1977,4.231076
5954,34405,Serenity (2005),Action|Adventure|Sci-Fi,2005,3.940000
900,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,1981,4.207500
6797,60684,Watchmen (2009),Action|Drama|Mystery|Sci-Fi|Thriller|IMAX,2009,3.988372
8053,98809,"Hobbit: An Unexpected Journey, The (2012)",Adventure|Fantasy|IMAX,2012,3.812500
2808,3753,"Patriot, The (2000)",Action|Drama|War,2000,3.448529
337,380,True Lies (1994),Action|Adventure|Comedy|Romance|Thriller,1994,3.497191
307,349,Clear and Present Danger (1994),Action|Crime|Drama|Thriller,1994,3.604545
156,185,"Net, The (1995)",Action|Crime|Thriller,1995,3.040179
123,150,Apollo 13 (1995),Adventure|Drama|IMAX,1995,3.845771
9,10,GoldenEye (1995),Action|Adventure|Thriller,1995,3.496212
418,480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,1993,3.750000
224,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,1977,4.231076
1543,2078,"Jungle Book, The (1967)",Animation|Children|Comedy|Musical,1967,3.830189
2743,3681,For a Few Dollars More (Per qualche dollaro in...,Action|Drama|Thriller|Western,1965,4.151515
6005,37729,Corpse Bride (2005),Animation|Comedy|Fantasy|Musical|Romance,2005,3.534091
7620,87232,X-Men: First Class (2011),Action|Adventure|Sci-Fi|Thriller|War,2011,3.790698
6985,66934,Dr. Horrible's Sing-Along Blog (2008),Comedy|Drama|Musical|Sci-Fi,2008,3.916667
3724,5152,We Were Soldiers (2002),Action|Drama|War,2002,3.333333
2657,3555,U-571 (2000),Action|Thriller|War,2000,3.424242
2861,3827,Space Cowboys (2000),Action|Adventure|Comedy|Sci-Fi,2000,2.891304
1486,2011,Back to the Future Part II (1989),Adventure|Comedy|Sci-Fi,1989,3.505747
9,10,GoldenEye (1995),Action|Adventure|Thriller,1995,3.496212
1487,2012,Back to the Future Part III (1990),Adventure|Comedy|Sci-Fi|Western,1990,3.369318
1292,1722,Tomorrow Never Dies (1997),Action|Adventure|Thriller,1997,3.066667
2327,3082,"World Is Not Enough, The (1999)",Action|Adventure|Thriller,1999,3.333333
2031,2706,American Pie (1999),Comedy|Romance,1999,3.378641
328,370,Naked Gun 33 1/3: The Final Insult (1994),Action|Comedy,1994,3.060345
4968,7573,Never Say Never Again (1983),Action|Adventure|Thriller,1983,3.125000
969,1270,Back to the Future (1985),Adventure|Comedy|Sci-Fi,1985,4.038012
4096,5872,Die Another Day (2002),Action|Adventure|Thriller,2002,2.925926
6293,47997,Idiocracy (2006),Adventure|Comedy|Sci-Fi|Thriller,2006,3.722222
6943,65230,Marley & Me (2008),Comedy|Drama,2008,3.142857
7355,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,2010,4.109091
1284,1704,Good Will Hunting (1997),Drama|Romance,1997,4.078014
9438,166643,Hidden Figures (2016),Drama,2016,3.800000
7198,72641,"Blind Side, The (2009)",Drama,2009,3.677419
7075,69757,(500) Days of Summer (2009),Comedy|Drama|Romance,500,3.666667
315,357,Four Weddings and a Funeral (1994),Comedy|Romance,1994,3.519417
461,527,Schindler's List (1993),Drama|War,1993,4.225000
143,171,Jeffrey (1995),Comedy|Drama,1995,3.833333
901,1199,Brazil (1985),Fantasy|Sci-Fi,1985,4.177966
183,215,Before Sunrise (1995),Drama|Romance,1995,4.041667
5261,8638,Before Sunset (2004),Drama|Romance,2004,3.700000
2915,3910,Dancer in the Dark (2000),Drama|Musical,2000,3.975000
4916,7371,Dogville (2003),Drama|Mystery|Thriller,2003,4.025000
8313,106920,Her (2013),Drama|Romance|Sci-Fi,2013,3.920000
3622,4973,"Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le) ...",Comedy|Romance,2001,4.183333

In [227]:
## Building a item-item collaborative filtering:

from sklearn.metrics.pairwise import cosine_similarity
movie_similarity = cosine_similarity(ratings_matrix2.T)
movie_similarity

array([[ 1.        , -0.0051097 ,  0.05525098, ...,  0.        ,
         0.        ,  0.        ],
       [-0.0051097 ,  1.        ,  0.00524252, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.05525098,  0.00524252,  1.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  1.        ,
         1.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  1.        ,
         1.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  1.        ]])

In [230]:
movie_similarity_df = pd.DataFrame(movie_similarity, index=ratings_matrix.columns, columns=ratings_matrix.columns)
movie_similarity_df

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,-0.005110,0.055251,-0.030907,-0.129645,0.073183,-0.023355,0.020432,-0.152252,-0.065419,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.005110,1.000000,0.005243,-0.073136,0.057203,-0.011372,0.028101,0.037774,-0.006930,-0.106970,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.055251,0.005243,1.000000,-0.028179,0.166869,-0.001486,0.095035,-0.024656,-0.057074,-0.075184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.030907,-0.073136,-0.028179,1.000000,0.010677,-0.013709,0.010933,0.021844,0.000000,0.090119,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-0.129645,0.057203,0.166869,0.010677,1.000000,-0.061896,0.217644,0.024013,0.101643,0.012238,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.0,-1.0,1.0,1.0,-1.0,1.0,-1.0,-1.0,-1.0,0.0
193583,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,-1.0,-1.0,1.0,-1.0,1.0,1.0,1.0,0.0
193585,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,-1.0,-1.0,1.0,-1.0,1.0,1.0,1.0,0.0
193587,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,-1.0,-1.0,1.0,-1.0,1.0,1.0,1.0,0.0
193609,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.057317,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [439]:
def get_movie_names(movie_ids):
    output = pd.DataFrame()
    for movieid in movie_ids:
        output = output.append(movies[movies['movieId'] == movieid])
    return output

def recommend_movies_item_to_item_collab(userid):
    movies_rated = ratings[ratings['userId'] == userid][['movieId','rating']]
    similar_movies = pd.Series()
    
    for i, row in movies_rated.iterrows():
        s = movie_similarity_df[row["movieId"]]
        s = s.drop(index=row["movieId"])
        #print(s)
        similar_movies = similar_movies.append(s * row["rating"])
        #print(movie_similarity_df[row["movieId"]])
        
    similar_movies = similar_movies.sort_values(ascending=False)[:50]
    return similar_movies
          
    
userid = 1
movie_ids = recommend_movies_item_to_item_collab(userid)
reco_movies_1 = get_movie_names(movie_ids.index)
print("Movies recommended to user ",userid, " by item-item-recommendation")
print(reco_movies_1)

print("\nMovies recommended to user ",userid, " by user-user-recommendation")
movie_ids = get_movie_recommendation_ids(userid)
reco_movies_2 = get_movie_names(movie_ids.index)
print(reco_movies_2)

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  if __name__ == '__main__':

Movies recommended to user  1  by item-item-recommendation
      movieId                                              title  \
2296     3043                                 Meatballs 4 (1992)
2730     3667                                  Rent-A-Cop (1988)
408       470                               House Party 3 (1994)
2119     2816                               Iron Eagle II (1988)
1561     2098                              Son of Flubber (1963)
1200     1598                          Desperate Measures (1998)
2284     3031                                 Repossessed (1990)
3909     5493                               In Like Flint (1967)
2773     3711                                   Sarafina! (1992)
3912     5499                            Robin and Marian (1976)
1799     2399                      Santa Claus: The Movie (1985)
2772     3710                              Action Jackson (1988)
3896     5472                                        1776 (1972)
1992     2651             Frankenstein Meets the Wolf Man (1943)
3512     4800                        King Solomon's Mines (1937)
4047     5749                                 Ghost Story (1981)
4878     7308                        King Solomon's Mines (1985)
3998     5640  Godzilla, King of the Monsters! (KaijÃ»-Ã´ Gojir...
5724    27873             Metallica: Some Kind of Monster (2004)
1400     1919                                    Madeline (1998)
1126     1473                                    Best Men (1997)
1326     1793                        Welcome to Woop-Woop (1997)
5117     8153                               Lust for Life (1956)
5000     7727                                    Protocol (1984)
5027     7822                                     Mogambo (1953)
4933     7414                              Going in Style (1979)
5043     7882                   The Plague of the Zombies (1966)
5053     7900              Frankenstein Must Be Destroyed (1969)
5068     7944                    Night of the Iguana, The (1964)
4839     7223                                      D.O.A. (1950)
2776     3714                               Clara's Heart (1988)
5098     8057                         Sweet Bird of Youth (1962)
5189     8446                           Sands of Iwo Jima (1949)
5172     8375               Hunting of the President, The (2004)
5278     8711        Mr. Blandings Builds His Dream House (1948)
5431    25927                               Stranger, The (1946)
5393     8987                                Bush's Brain (2004)
5370     8955                                    Undertow (2004)
5296     8773       Sherlock Holmes and the Secret Weapon (1942)
5294     8771            Sherlock Holmes: Terror by Night (1946)
5281     8714                               Night and Day (1946)
5279     8712                            My Favorite Wife (1940)
5253     8617                               Butterfield 8 (1960)
5177     8382                                 Hello Again (1987)
2353     3112                               'night Mother (1986)
5233     8575  Happenstance (Battement d'ailes du papillon, L...
2465     3281                    Brandon Teena Story, The (1998)
5203     8481                           Northwest Passage (1940)
5198     8462                             Executive Suite (1954)
5191     8450                             Anthony Adverse (1936)

                                               genres  year
2296                                           Comedy  1992
2730                              Action|Comedy|Crime  1988
408                                            Comedy  1994
2119                                       Action|War  1988
1561                                  Children|Comedy  1963
1200                             Crime|Drama|Thriller  1998
2284                                           Comedy  1990
3909                          Action|Adventure|Comedy  1967
2773                                            Drama  1992
3912                          Adventure|Drama|Romance  1976
1799                       Adventure|Children|Fantasy  1985
2772                     Action|Comedy|Crime|Thriller  1988
3896                           Children|Drama|Musical  1972
1992                                           Horror  1943
3512          Action|Adventure|Drama|Romance|Thriller  1937
4047                                     Drama|Horror  1981
4878                                 Adventure|Comedy  1985
3998                                    Horror|Sci-Fi  1956
5724                                      Documentary  2004
1400                                  Children|Comedy  1998
1126                        Action|Comedy|Crime|Drama  1997
1326                                           Comedy  1997
5117                                            Drama  1956
5000                                           Comedy  1984
5027                          Adventure|Drama|Romance  1953
4933                                     Comedy|Drama  1979
5043                                           Horror  1966
5053                              Drama|Horror|Sci-Fi  1969
5068                                   Drama|Thriller  1964
4839                          Drama|Film-Noir|Mystery  1950
2776                                            Drama  1988
5098                                            Drama  1962
5189                         Action|Drama|Romance|War  1949
5172                                      Documentary  2004
5278                                           Comedy  1948
5431                         Drama|Film-Noir|Thriller  1946
5393                                      Documentary  2004
5370                             Crime|Drama|Thriller  2004
5296                           Crime|Mystery|Thriller  1942
5294                           Crime|Mystery|Thriller  1946
5281                                    Drama|Musical  1946
5279                                   Comedy|Romance  1940
5253                                            Drama  1960
5177                                           Comedy  1987
2353                                            Drama  1986
5233                                     Comedy|Drama  2001
2465                                      Documentary  1998
5203  Action|Adventure|Drama|Romance|Thriller|Western  1940
5198                                            Drama  1954
5191                                Adventure|Romance  1936

Movies recommended to user  1  by user-user-recommendation

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

      movieId                                              title  \
483       551             Nightmare Before Christmas, The (1993)
695       913                         Maltese Falcon, The (1941)
2316     3070  Adventures of Buckaroo Banzai Across the 8th D...
1055     1372      Star Trek VI: The Undiscovered Country (1991)
2195     2918                    Ferris Bueller's Day Off (1986)
1057     1374             Star Trek II: The Wrath of Khan (1982)
2510     3358                         Defending Your Life (1991)
2536     3396                           Muppet Movie, The (1979)
2044     2723                                 Mystery Men (1999)
1158     1527                          Fifth Element, The (1997)
2601     3477                              Empire Records (1995)
2233     2968                                Time Bandits (1981)
984      1285                                    Heathers (1989)
686       904                                 Rear Window (1954)
311       353                                   Crow, The (1994)
685       903                                     Vertigo (1958)
1247     1658                       Life Less Ordinary, A (1997)
507       589                  Terminator 2: Judgment Day (1991)
1960     2599                                    Election (1999)
2078     2762                            Sixth Sense, The (1999)
659       858                              Godfather, The (1972)
976      1277                          Cyrano de Bergerac (1990)
1086     1411                                      Hamlet (1996)
809      1059        William Shakespeare's Romeo + Juliet (1996)
1133     1483                                       Crash (1996)
1027     1339             Dracula (Bram Stoker's Dracula) (1992)
889      1186                    Sex, Lies, and Videotape (1989)
1009     1320                     AlienÂ³ (a.k.a. Alien 3) (1992)
901      1199                                      Brazil (1985)
922      1221                     Godfather: Part II, The (1974)
613       778                               Trainspotting (1996)
780      1022                                  Cinderella (1950)
311       353                                   Crow, The (1994)
31         32          Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
32         34                                        Babe (1995)
76         85                          Angels and Insects (1995)
98        111                                 Taxi Driver (1976)
123       150                                   Apollo 13 (1995)
167       198                                Strange Days (1995)
249       288                        Natural Born Killers (1994)
322       364                              Lion King, The (1994)
777      1019                20,000 Leagues Under the Sea (1954)
474       541                                Blade Runner (1982)
483       551             Nightmare Before Christmas, The (1993)
507       589                  Terminator 2: Judgment Day (1991)
511       594             Snow White and the Seven Dwarfs (1937)
1226     1627                                      U Turn (1997)
659       858                              Godfather, The (1972)
706       924                       2001: A Space Odyssey (1968)
1193     1590                               Event Horizon (1997)

                                               genres  year
483                Animation|Children|Fantasy|Musical  1993
695                                 Film-Noir|Mystery  1941
2316                          Adventure|Comedy|Sci-Fi  1984
1055                            Action|Mystery|Sci-Fi  1991
2195                                           Comedy  1986
1057                 Action|Adventure|Sci-Fi|Thriller  1982
2510                     Comedy|Drama|Fantasy|Romance  1991
2536                Adventure|Children|Comedy|Musical  1979
2044                            Action|Comedy|Fantasy  1999
1158                   Action|Adventure|Comedy|Sci-Fi  1997
2601                                     Comedy|Drama  1995
2233                  Adventure|Comedy|Fantasy|Sci-Fi  1981
984                                            Comedy  1989
686                                  Mystery|Thriller  1954
311                     Action|Crime|Fantasy|Thriller  1994
685                    Drama|Mystery|Romance|Thriller  1958
1247                                 Romance|Thriller  1997
507                                     Action|Sci-Fi  1991
1960                                           Comedy  1999
2078                             Drama|Horror|Mystery  1999
659                                       Crime|Drama  1972
976                              Comedy|Drama|Romance  1990
1086                              Crime|Drama|Romance  1996
809                                     Drama|Romance  1996
1133                                   Drama|Thriller  1996
1027                  Fantasy|Horror|Romance|Thriller  1992
889                                             Drama  1989
1009                    Action|Horror|Sci-Fi|Thriller  1992
901                                    Fantasy|Sci-Fi  1985
922                                       Crime|Drama  1974
613                                Comedy|Crime|Drama  1996
780        Animation|Children|Fantasy|Musical|Romance  1950
311                     Action|Crime|Fantasy|Thriller  1994
31                            Mystery|Sci-Fi|Thriller  1995
32                                     Children|Drama  1995
76                                      Drama|Romance  1995
98                               Crime|Drama|Thriller  1976
123                              Adventure|Drama|IMAX  1995
167        Action|Crime|Drama|Mystery|Sci-Fi|Thriller  1995
249                             Action|Crime|Thriller  1994
322   Adventure|Animation|Children|Drama|Musical|IMAX  1994
777                            Adventure|Drama|Sci-Fi  1954
474                            Action|Sci-Fi|Thriller  1982
483                Animation|Children|Fantasy|Musical  1993
507                                     Action|Sci-Fi  1991
511          Animation|Children|Drama|Fantasy|Musical  1937
1226                              Crime|Drama|Mystery  1997
659                                       Crime|Drama  1972
706                            Adventure|Drama|Sci-Fi  1968
1193                           Horror|Sci-Fi|Thriller  1997

In [291]:
list(set(reco_movies_1) & set(reco_movies_2))

[]

In [296]:
# Building a Recommendation engine content-based:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
word_count = cv.fit_transform(movies["genres"])
word_count.toarray().shape

(9742, 24)

In [300]:
from sklearn.metrics.pairwise import cosine_similarity
content_similarity = cosine_similarity(word_count)
content_similarity_df = pd.DataFrame(content_similarity, index=movies["movieId"], columns= movies["movieId"])
content_similarity_df

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.774597,0.316228,0.258199,0.447214,0.000000,0.316228,0.632456,0.000000,0.258199,...,0.400000,0.316228,0.316228,0.447214,0.0,0.670820,0.774597,0.00000,0.316228,0.447214
2,0.774597,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.816497,0.000000,0.333333,...,0.000000,0.000000,0.000000,0.000000,0.0,0.288675,0.333333,0.00000,0.000000,0.000000
3,0.316228,0.000000,1.000000,0.816497,0.707107,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.316228,0.000000,0.500000,0.000000,0.0,0.353553,0.408248,0.00000,0.000000,0.707107
4,0.258199,0.000000,0.816497,1.000000,0.577350,0.000000,0.816497,0.000000,0.000000,0.000000,...,0.258199,0.408248,0.816497,0.000000,0.0,0.288675,0.333333,0.57735,0.000000,0.577350
5,0.447214,0.000000,0.707107,0.577350,1.000000,0.000000,0.707107,0.000000,0.000000,0.000000,...,0.447214,0.000000,0.707107,0.000000,0.0,0.500000,0.577350,0.00000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.670820,0.288675,0.353553,0.288675,0.500000,0.288675,0.353553,0.000000,0.500000,0.288675,...,0.670820,0.353553,0.353553,0.500000,0.0,1.000000,0.866025,0.00000,0.707107,0.500000
193583,0.774597,0.333333,0.408248,0.333333,0.577350,0.000000,0.408248,0.000000,0.000000,0.000000,...,0.516398,0.408248,0.408248,0.577350,0.0,0.866025,1.000000,0.00000,0.408248,0.577350
193585,0.000000,0.000000,0.000000,0.577350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.707107,0.707107,0.000000,0.0,0.000000,0.000000,1.00000,0.000000,0.000000
193587,0.316228,0.000000,0.000000,0.000000,0.000000,0.408248,0.000000,0.000000,0.707107,0.408248,...,0.632456,0.500000,0.000000,0.707107,0.0,0.707107,0.408248,0.00000,1.000000,0.000000
193609,0.447214,0.000000,0.707107,0.577350,1.000000,0.000000,0.707107,0.000000,0.000000,0.000000,...,0.447214,0.000000,0.707107,0.000000,0.0,0.500000,0.577350,0.00000,0.000000,1.000000

In [458]:
def recommend_movies_content_based(userid):
    movies_rated = ratings[ratings['userId'] == userid][['movieId','rating']]
    similar_movies = pd.Series()
    
    for i, row in movies_rated.iterrows():
        s = content_similarity_df[row["movieId"]]
        s = s.drop(index=row["movieId"])
        #print(s)
        similar_movies = similar_movies.append(s * row["rating"])
        #print(movie_similarity_df[row["movieId"]])
        
    similar_movies = similar_movies.sort_values(ascending=False)[:50]
    return similar_movies
          
userid = 1
movie_ids = recommend_movies_content_based(userid)
reco_movies_3 = get_movies(movie_ids.index)
print("Movies recommended to user ",userid, " by content-based Engine")
reco_movies_3

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

Movies recommended to user  1  by content-based Engine

,movieId,title,genres,year,average_rating
5809,31923,"Three Musketeers, The (1973)",Action|Adventure|Comedy,1973,4.000000
7766,91488,"Snowman, The (1982)",Animation|Children|Musical,1982,3.750000
2573,3441,Red Dawn (1984),Action|Drama|War,1984,3.428571
6804,60803,"Little Drummer Boy, The (1968)",Animation|Children|Musical,1968,2.500000
7849,93610,Space Battleship Yamato (2010),Action|Adventure|Drama,2010,3.000000
6645,56715,Wristcutters: A Love Story (2006),Drama|Fantasy|Romance,2006,4.000000
6932,64997,War of the Worlds (2005),Action|Sci-Fi,2005,3.000000
1236,1645,The Devil's Advocate (1997),Drama|Mystery|Thriller,1997,3.411765
1118,1458,Touch (1997),Drama|Fantasy|Romance,1997,4.000000
5766,31193,"Many Adventures of Winnie the Pooh, The (1977)",Animation|Children|Musical,1977,3.500000
2376,3153,"7th Voyage of Sinbad, The (1958)",Action|Adventure|Fantasy,1958,4.400000
8987,139052,Dark Places (2015),Drama|Mystery|Thriller,2015,2.000000
1488,2013,"Poseidon Adventure, The (1972)",Action|Adventure|Drama,1972,3.095238
4114,5899,Zulu (1964),Action|Drama|War,1964,4.000000
1572,2110,Dead Men Don't Wear Plaid (1982),Comedy|Crime|Thriller,1982,3.305556
5286,8730,To End All Wars (2001),Action|Drama|War,2001,4.000000
97,110,Braveheart (1995),Action|Drama|War,1995,4.031646
5604,26985,Nirvana (1997),Action|Sci-Fi,1997,4.500000
9722,189547,Iron Soldier (2010),Action|Sci-Fi,2010,1.000000
2126,2826,"13th Warrior, The (1999)",Action|Adventure|Fantasy,1999,2.903846
3741,5209,Ffolkes (1979),Action|Adventure|Thriller,1979,2.000000
5723,27869,Tae Guk Gi: The Brotherhood of War (Taegukgi h...,Action|Drama|War,2004,4.500000
4121,5915,Victory (a.k.a. Escape to Victory) (1981),Action|Drama|War,1981,4.750000
1494,2019,Seven Samurai (Shichinin no samurai) (1954),Action|Adventure|Drama,1954,4.187500
3990,5629,Jonah: A VeggieTales Movie (2002),Animation|Children|Musical,2002,2.000000
6362,49666,Fur: An Imaginary Portrait of Diane Arbus (2006),Drama|Fantasy|Romance,2006,3.000000
5209,8493,Memphis Belle (1990),Action|Drama|War,1990,3.083333
1802,2402,Rambo: First Blood Part II (1985),Action|Adventure|Thriller,1985,2.657895
9693,184641,Fullmetal Alchemist 2018 (2017),Action|Adventure|Fantasy,2017,0.500000
2710,3635,"Spy Who Loved Me, The (1977)",Action|Adventure|Thriller,1977,3.444444
9692,184471,Tomb Raider (2018),Action|Adventure|Fantasy,2018,2.500000
2713,3639,"Man with the Golden Gun, The (1974)",Action|Adventure|Thriller,1974,3.583333
2177,2893,Plunkett & MaCleane (1999),Action|Adventure|Drama,1999,3.000000
3724,5152,We Were Soldiers (2002),Action|Drama|War,2002,3.333333
2972,3984,Diamonds Are Forever (1971),Action|Adventure|Thriller,1971,3.500000
7178,72178,Welcome to Dongmakgol (2005),Comedy|Drama|War,2005,4.500000
2990,4005,"Living Daylights, The (1987)",Action|Adventure|Thriller,1987,3.291667
479,547,Surviving the Game (1994),Action|Adventure|Thriller,1994,3.250000
828,1089,Reservoir Dogs (1992),Crime|Mystery|Thriller,1992,4.202290
2823,3771,The Golden Voyage of Sinbad (1973),Action|Adventure|Fantasy,1973,4.000000
2716,3643,"Fighting Seabees, The (1944)",Action|Drama|War,1944,3.500000
8156,102338,Shaolin Temple (Shao Lin si) (1976),Action|Adventure|Drama,1976,4.500000
2694,3615,Dinosaur (2000),Adventure|Animation|Children,2000,3.107143
554,665,Underground (1995),Comedy|Drama|War,1995,4.333333
7258,74458,Shutter Island (2010),Drama|Mystery|Thriller,2010,4.022388
1778,2376,"View to a Kill, A (1985)",Action|Adventure|Thriller,1985,3.214286
3724,5152,We Were Soldiers (2002),Action|Drama|War,2002,3.333333
1886,2505,8MM (1999),Drama|Mystery|Thriller,1999,2.944444
9464,168254,Kong: Skull Island (2017),Action|Adventure|Fantasy,2017,3.125000
4211,6101,Missing (1982),Drama|Mystery|Thriller,1982,4.000000

In [333]:
# Buildng a recommendation purely based on popularity:
popular_movies_id = latest_ratings.groupby('movieId')['rating'].mean().sort_values(ascending=False)[:50]
reco_movies_4 = get_movie_names(popular_movies_id.index)
reco_movies_4

["National Lampoon's Bag Boy (2007)",
 'Return to Treasure Island (1988)',
 'On the Trail of the Bremen Town Musicians (1973)',
 'Gena the Crocodile (1969)',
 "George Carlin: Jammin' in New York (1992)",
 'Hollywood Chainsaw Hookers (1988)',
 'Garfield: The Movie (2004)',
 'Little Murders (1971)',
 "Once Upon a Time in the West (C'era una volta il West) (1968)",
 'Obsession (1965)',
 'Infernal Affairs (Mou gaan dou) (2002)',
 'Ooops! Noah is Gone... (2015)',
 'Empties (2007)',
 'Villain (1971)',
 'Cheburashka (1971)',
 'Fugitives (1986)',
 'The Eye: Infinity (2005)',
 'Travels of an Ant (1983)',
 'Wow! A Talking Fish! (1983)',
 'Kung Fu Panda: Secrets of the Masters (2011)',
 'Show Me Love (Fucking Ã…mÃ¥l) (1998)',
 'Hellbenders (2012)',
 'Tom and Jerry: Shiver Me Whiskers (2006)',
 'George Carlin: You Are All Diseased (1999)',
 'Cabinet of Dr. Caligari, The (Cabinet des Dr. Caligari., Das) (1920)',
 'George Carlin: Back in Town (1996)',
 'In the blue sea, in the white foam. (1984)',
 'Battle For Sevastopol (2015)',
 'Bobik Visiting Barbos (1977)',
 'Andalusian Dog, An (Chien andalou, Un) (1929)',
 'Go for Zucker! (Alles auf Zucker!) (2004)',
 'Mystery of the Third Planet, The (Tayna tretey planety) (1981)',
 'Jump In! (2007)',
 "Buffalo '66 (a.k.a. Buffalo 66) (1998)",
 'The Editor (2015)',
 'Match Factory Girl, The (Tulitikkutehtaan tyttÃ¶) (1990)',
 'Oscar (1967)',
 'Green Street Hooligans (a.k.a. Hooligans) (2005)',
 'Hunting Elephants (2013)',
 'Chinese Puzzle (Casse-tÃªte chinois) (2013)',
 'Calcium Kid, The (2004)',
 'Bloodsucking Bastards (2015)',
 'Saving Face (2004)',
 "On the Other Side of the Tracks (De l'autre cÃ´tÃ© du pÃ©riph) (2012)",
 'Double Indemnity (1944)',
 'Alesha Popovich and Tugarin the Dragon (2004)',
 'Paths of Glory (1957)',
 '12 Chairs (1976)',
 'Junior and Karlson (1968)',
 'They Call Me Trinity (1971)']

In [465]:
userid = 100

movie_ids = recommend_movies_item_to_item_collab(userid)
reco_movies_1 = get_movie_names(movie_ids.index)
print("Movies recommended to userid",userid," by item-item-recommendation")
reco_movies_1

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  if __name__ == '__main__':

Movies recommended to userid 100  by item-item-recommendation

,movieId,title,genres,year,average_rating
4240,6183,Pillow Talk (1959),Comedy|Musical|Romance,1959,3.833333
4566,6785,Seven Brides for Seven Brothers (1954),Comedy|Musical|Romance|Western,1954,3.750000
1241,1650,Washington Square (1997),Drama,1997,3.750000
4184,6031,Imitation of Life (1959),Drama|Romance,1959,3.500000
4184,6031,Imitation of Life (1959),Drama|Romance,1959,3.500000
4766,7092,Anna Karenina (1935),Drama|Romance,1935,3.500000
1641,2187,Stage Fright (1950),Mystery|Romance|Thriller,1950,3.500000
5746,30850,"Merchant of Venice, The (2004)",Drama,2004,3.750000
1641,2187,Stage Fright (1950),Mystery|Romance|Thriller,1950,3.500000
4766,7092,Anna Karenina (1935),Drama|Romance,1935,3.500000
2149,2862,Caligula (1979),Drama,1979,1.000000
623,790,"Unforgettable Summer, An (Un Ã©tÃ© inoubliable) ...",Drama,1994,2.000000
1025,1336,Body Parts (1991),Horror|Thriller,1991,1.000000
1462,1985,Halloween 4: The Return of Michael Myers (1988),Horror,1988,2.000000
2753,3691,Private School (1983),Comedy,1983,3.000000
1843,2451,"Gate, The (1987)",Horror,1987,3.000000
2726,3661,Puppet Master II (1991),Horror|Sci-Fi|Thriller,1991,3.000000
2729,3664,Puppet Master 5: The Final Chapter (1994),Horror|Sci-Fi|Thriller,1994,2.000000
2574,3442,Band of the Hand (1986),Action|Crime|Drama,1986,1.000000
2671,3574,Carnosaur 3: Primal Species (1996),Horror|Sci-Fi,1996,1.000000
2728,3663,Puppet Master 4 (1993),Horror|Sci-Fi|Thriller,1993,2.000000
4505,6667,Waco: The Rules of Engagement (1997),Documentary,1997,3.500000
4473,6609,"Gospel According to St. Matthew, The (Vangelo ...",Drama,1964,3.500000
4681,6990,The Great Train Robbery (1978),Action|Adventure|Comedy|Crime|Drama,1978,3.500000
4676,6984,"Tale of Two Cities, A (1935)",Drama,1935,4.000000
4674,6982,Forbidden Games (Jeux interdits) (1952),Drama|War,1952,3.500000
4634,6912,You'll Never Get Rich (1941),Comedy|Musical|Romance,1941,3.500000
4662,6965,Journeys with George (2002),Documentary,2002,3.500000
4731,7053,Roberta (1935),Comedy|Musical|Romance,1935,4.000000
4499,6660,"Red Shoes, The (1948)",Drama|Fantasy|Musical|Romance,1948,3.500000
4554,6768,Luther (2003),Drama,2003,4.000000
4660,6962,OT: Our Town (2002),Documentary,2002,3.500000
4633,6911,"Jolson Story, The (1946)",Musical,1946,3.500000
4649,6948,Tupac: Resurrection (2003),Documentary,2003,4.000000
4740,7062,Birdman of Alcatraz (1962),Drama,1962,4.000000
4746,7070,Red River (1948),Action|Adventure|Western,1948,4.000000
4733,7055,Swing Time (1936),Comedy|Musical|Romance,1936,4.000000
4735,7057,"Midsummer Night's Dream, A (1935)",Comedy|Fantasy|Romance,1935,3.500000
4736,7058,Life with Father (1947),Comedy,1947,3.500000
4739,7061,Dark Victory (1939),Drama|Romance,1939,4.000000
4430,6545,I Capture the Castle (2003),Drama|Romance,2003,4.500000
4750,7074,"Navigator, The (1924)",Comedy,1924,3.500000
4751,7075,"Court Jester, The (1956)",Adventure|Comedy|Musical,1956,3.500000
4760,7086,Pygmalion (1938),Comedy|Drama,1938,3.500000
4793,7141,My Flesh and Blood (2003),Documentary,2003,4.000000
4817,7177,Osama (2003),Drama,2003,3.500000
4822,7190,Jane Eyre (1970),Drama,1970,3.500000
4831,7211,People Will Talk (1951),Comedy|Romance,1951,3.500000
4835,7217,Dark Passage (1947),Crime|Drama|Film-Noir|Romance|Thriller,1947,4.000000
4837,7219,They Drive by Night (1940),Drama,1940,4.000000

In [466]:
print("\nMovies recommended to user ",userid, " by user-user-recommendation")
movie_ids = get_movie_recommendation_ids(userid)
reco_movies_2 = get_movie_names(movie_ids.index)
reco_movies_2

Movies recommended to user  100  by user-user-recommendation

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

,movieId,title,genres,year,average_rating
461,527,Schindler's List (1993),Drama|War,1993,4.225000
510,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,1991,4.161290
428,491,"Man Without a Face, The (1993)",Drama,1993,3.294118
97,110,Braveheart (1995),Action|Drama|War,1995,4.031646
277,318,"Shawshank Redemption, The (1994)",Crime|Drama,1994,4.429022
97,110,Braveheart (1995),Action|Drama|War,1995,4.031646
32,34,Babe (1995),Children|Drama,1995,3.652344
123,150,Apollo 13 (1995),Adventure|Drama|IMAX,1995,3.845771
398,457,"Fugitive, The (1993)",Thriller,1993,3.992105
8372,109374,"Grand Budapest Hotel, The (2014)",Comedy|Drama,2014,3.778846
6422,51255,Hot Fuzz (2007),Action|Comedy|Crime|Mystery,2007,4.000000
2226,2959,Fight Club (1999),Action|Crime|Drama|Thriller,1999,4.272936
6256,46976,Stranger than Fiction (2006),Comedy|Drama|Fantasy|Romance,2006,3.693182
8376,109487,Interstellar (2014),Sci-Fi|IMAX,2014,3.993151
6710,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,2008,4.238255
7039,68954,Up (2009),Adventure|Animation|Children|Drama,2009,4.004762
8691,122904,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi,2016,3.833333
6772,60069,WALLÂ·E (2008),Adventure|Animation|Children|Romance|Sci-Fi,2008,4.057692
2513,3361,Bull Durham (1988),Comedy|Drama|Romance,1988,3.671429
2674,3578,Gladiator (2000),Action|Adventure|Drama,2000,3.938235
7413,80463,"Social Network, The (2010)",Drama,2010,3.885965
2654,3552,Caddyshack (1980),Comedy,1980,3.826923
8063,99114,Django Unchained (2012),Action|Drama|Western,2012,3.943662
6151,44191,V for Vendetta (2006),Action|Sci-Fi|Thriller|IMAX,2006,3.885000
5,6,Heat (1995),Action|Crime|Thriller,1995,3.946078
277,318,"Shawshank Redemption, The (1994)",Crime|Drama,1994,4.429022
295,337,What's Eating Gilbert Grape (1993),Drama,1993,3.766234
43,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995,3.975369
444,509,"Piano, The (1993)",Drama|Romance,1993,3.540984
97,110,Braveheart (1995),Action|Drama|War,1995,4.031646
244,282,Nell (1994),Drama,1994,3.337500
6658,56949,27 Dresses (2008),Comedy|Romance,2008,3.300000
5908,33669,"Sisterhood of the Traveling Pants, The (2005)",Adventure|Comedy|Drama,2005,3.071429
217,253,Interview with the Vampire: The Vampire Chroni...,Drama|Horror,1994,3.458716
285,327,Tank Girl (1995),Action|Comedy|Sci-Fi,1995,2.823529
510,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,1991,4.161290
522,610,Heavy Metal (1981),Action|Adventure|Animation|Horror|Sci-Fi,1981,3.545455
523,611,Hellraiser: Bloodline (1996),Action|Horror|Sci-Fi,1996,2.416667
249,288,Natural Born Killers (1994),Action|Crime|Thriller,1994,3.233696
324,366,Wes Craven's New Nightmare (Nightmare on Elm S...,Drama|Horror|Mystery|Thriller,1994,2.916667
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,3.431818
2972,3984,Diamonds Are Forever (1971),Action|Adventure|Thriller,1971,3.500000
2329,3086,Babes in Toyland (1934),Children|Comedy|Fantasy|Musical,1934,5.000000
2077,2761,"Iron Giant, The (1999)",Adventure|Animation|Children|Drama|Sci-Fi,1999,4.051282
277,318,"Shawshank Redemption, The (1994)",Crime|Drama,1994,4.429022
578,709,Oliver & Company (1988),Adventure|Animation|Children|Comedy|Musical,1988,3.090909
594,736,Twister (1996),Action|Adventure|Romance|Thriller,1996,3.321138
618,783,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance,1996,3.329787
644,830,"First Wives Club, The (1996)",Comedy,1996,3.071429
436,500,Mrs. Doubtfire (1993),Comedy|Drama,1993,3.388889

In [467]:
movie_ids = recommend_movies_content_based(userid)
reco_movies_3 = get_movie_names(movie_ids.index)
print("Movies recommended to user ",userid, " by content-based Engine")
reco_movies_3

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

Movies recommended to user  100  by content-based Engine

,movieId,title,genres,year,average_rating
184,216,Billy Madison (1995),Comedy,1995,3.326531
6692,58291,College Road Trip (2008),Comedy,2008,4.500000
4508,6670,Comic Book Villains (2002),Comedy,2002,2.250000
8945,136540,The FP (2012),Comedy,2012,4.500000
5435,25947,Unfaithfully Yours (1948),Comedy,1948,5.000000
6730,59026,99 francs (2007),Comedy,2007,4.000000
6719,58870,Zebraman (2004),Comedy,2004,3.500000
190,223,Clerks (1994),Comedy,1994,3.855769
8944,136511,Jeff Dunham: All Over the Map (2014),Comedy,2014,2.000000
1609,2151,"Gods Must Be Crazy II, The (1989)",Comedy,1989,3.750000
6712,58655,Drillbit Taylor (2008),Comedy,2008,3.500000
6701,58315,"Love Guru, The (2008)",Comedy,2008,2.125000
8941,136469,Larry David: Curb Your Enthusiasm (1999),Comedy,1999,5.000000
194,228,Destiny Turns on the Radio (1995),Comedy,1995,2.333333
200,234,Exit to Eden (1994),Comedy,1994,2.588235
8939,136447,George Carlin: You Are All Diseased (1999),Comedy,1999,5.000000
236,274,Man of the House (1995),Comedy,1995,2.928571
6688,58156,Semi-Pro (2008),Comedy,2008,2.900000
7939,95744,2 Days in New York (2012),Comedy,2012,2.500000
212,248,Houseguest (1994),Comedy,1994,3.176471
8938,136445,George Carlin: Back in Town (1996),Comedy,1996,5.000000
8937,136443,Gabriel Iglesias: Hot and Fluffy (2007),Comedy,2007,1.500000
6673,57536,Strange Wilderness (2008),Comedy,2008,3.250000
1573,2111,"Man with Two Brains, The (1983)",Comedy,1983,3.250000
5467,26171,Play Time (a.k.a. Playtime) (1967),Comedy,1967,3.166667
6672,57532,Meet the Spartans (2008),Comedy,2008,2.500000
7950,95949,"Immature, The (Immaturi) (2011)",Comedy,2011,3.500000
219,255,"Jerky Boys, The (1995)",Comedy,1995,2.071429
1571,2109,"Jerk, The (1979)",Comedy,1979,3.370370
7957,96110,"Campaign, The (2012)",Comedy,2012,3.444444
6740,59258,Baby Mama (2008),Comedy,2008,3.136364
171,203,"To Wong Foo, Thanks for Everything! Julie Newm...",Comedy,1995,3.431818
8953,136666,Search Party (2014),Comedy,2014,2.250000
7912,95201,To Rome with Love (2012),Comedy,2012,3.000000
9662,181659,Craig Ferguson: Tickle Fight (2017),Comedy,2017,2.500000
6831,61255,"Rocker, The (2008)",Comedy,2008,2.750000
9012,140265,George Carlin: Jammin' in New York (1992),Comedy,1992,5.000000
6830,61250,"House Bunny, The (2008)",Comedy,2008,2.500000
5409,25782,Boudu Saved From Drowning (Boudu sauvÃ© des eau...,Comedy,1932,0.500000
6828,61246,Hamlet 2 (2008),Comedy,2008,2.000000
146,174,Jury Duty (1995),Comedy,1995,2.700000
9006,140110,The Intern (2015),Comedy,2015,3.653846
148,176,Living in Oblivion (1995),Comedy,1995,4.307692
1672,2249,My Blue Heaven (1990),Comedy,1990,3.181818
9005,140038,Madly in Love (1981),Comedy,1981,4.500000
7881,94677,"Dictator, The (2012)",Comedy,2012,3.558824
1670,2247,Married to the Mob (1988),Comedy,1988,3.000000
8984,138798,Joe Dirt 2: Beautiful Loser (2015),Comedy,2015,0.500000
8980,138546,The Opposite Sex (2014),Comedy,2014,1.500000
6801,60756,Step Brothers (2008),Comedy,2008,3.553571

In [472]:
# Buildng a recommendation purely based on popularity:
# popular_movies_id = latest_ratings.groupby('movieId')['rating'].mean().sort_values(ascending=False)[:50]
# reco_movies_4 = get_movie_names(popular_movies_id.index)
# reco_movies_4

print("Recommendation based upon Popularity, ie, Movies with highest rating")
movies.sort_values("average_rating", ascending=False)[:50]

,movieId,title,genres,year,average_rating
7656,88448,Paper Birds (PÃ¡jaros de papel) (2010),Comedy|Drama,2010,5.0
8107,100556,"Act of Killing, The (2012)",Documentary,2012,5.0
9083,143031,Jump In! (2007),Comedy|Drama|Romance,2007,5.0
9094,143511,Human (2015),Documentary,2015,5.0
9096,143559,L.A. Slasher (2015),Comedy|Crime|Fantasy,2015,5.0
4251,6201,Lady Jane (1986),Drama|Romance,1986,5.0
8154,102217,Bill Hicks: Revelations (1993),Comedy,1993,5.0
8148,102084,Justice League: Doom (2012),Action|Animation|Fantasy,2012,5.0
4246,6192,Open Hearts (Elsker dig for evigt) (2002),Romance,2002,5.0
9122,145994,Formula of Love (1984),Comedy,1984,5.0
8115,100906,Maniac Cop 2 (1990),Action|Horror|Thriller,1990,5.0
9129,146662,Dragons: Gift of the Night Fury (2011),Adventure|Animation|Comedy,2011,5.0
8074,99636,English Vinglish (2012),Comedy|Drama,2012,5.0
5785,31522,"Marriage of Maria Braun, The (Ehe der Maria Br...",Drama,1979,5.0
9131,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy,2015,5.0
9137,147196,The Girls (1961),Comedy|Romance,1961,5.0
9138,147250,The Adventures of Sherlock Holmes and Doctor W...,(no genres listed),0,5.0
9140,147286,The Adventures of Sherlock Holmes and Doctor W...,Crime|Mystery,1983,5.0
9141,147300,Adventures Of Sherlock Holmes And Dr. Watson: ...,Crime|Mystery,1986,5.0
9142,147326,The Adventures of Sherlock Holmes and Doctor W...,Crime|Mystery,1980,5.0
9143,147328,The Adventures of Sherlock Holmes and Dr. Wats...,Crime,1979,5.0
6999,67618,Strictly Sexual (2008),Comedy|Drama|Romance,2008,5.0
3320,4495,Crossing Delancey (1988),Comedy|Romance,1988,5.0
8212,103602,Craig Ferguson: I'm Here To Help (2013),Comedy|Documentary,2013,5.0
6920,64501,Che: Part Two (2008),Drama|War,2008,5.0
6919,64499,Che: Part One (2008),Drama|War,2008,5.0
9007,140133,Hollywood Chainsaw Hookers (1988),Comedy|Horror,1988,5.0
9012,140265,George Carlin: Jammin' in New York (1992),Comedy,1992,5.0
4375,6408,Animals are Beautiful People (1974),Comedy|Documentary,1974,5.0
4372,6402,Siam Sunset (1999),Comedy,1999,5.0
6799,60737,Watching the Detectives (2007),Comedy|Romance,2007,5.0
9022,140627,Battle For Sevastopol (2015),Drama|Romance|War,2015,5.0
5906,33649,Saving Face (2004),Comedy|Drama|Romance,2004,5.0
9042,141718,Deathgasm (2015),Comedy|Horror,2015,5.0
8250,104780,"Mystery of the Third Planet, The (Tayna tretey...",Adventure|Animation|Sci-Fi,1981,5.0
9046,141816,12 Chairs (1976),Adventure|Comedy,1976,5.0
2838,3795,"Five Senses, The (1999)",Drama,1999,5.0
2835,3792,Duel in the Sun (1946),Drama|Romance|Western,1946,5.0
3294,4454,More (1998),Animation|Drama|Sci-Fi|IMAX,1998,5.0
1889,2512,"Ballad of Narayama, The (Narayama bushiko) (1983)",Drama,1983,5.0
9055,141928,Bloodsucking Bastards (2015),Comedy|Horror,2015,5.0
5878,33138,Palindromes (2004),Adventure|Comedy|Drama,2004,5.0
9057,142020,Oscar (1967),Comedy,1967,5.0
2125,2824,On the Ropes (1999),Documentary|Drama,1999,5.0
9068,142444,The Editor (2015),Comedy|Horror|Mystery,2015,5.0
9144,147330,Sherlock Holmes and Dr. Watson: Acquaintance (...,Crime,1979,5.0
2749,3687,Light Years (Gandahar) (1988),Adventure|Animation|Fantasy|Sci-Fi,1988,5.0
9367,162414,Moonlight,Drama,0,5.0
9281,157775,Tenchi MuyÃ´! In Love (1996),Animation|Comedy,1996,5.0
5633,27320,"Nine Lives of Tomas Katz, The (2000)",Comedy|Drama|Fantasy,2000,5.0

In [469]:
# Recommendation based on popularity for only the latest movies:
latest_movies.sort_values("average_rating", ascending=False)[:50].sort_values("year",ascending=False)

,movieId,title,genres,year,average_rating
9633,179133,Loving Vincent (2017),Animation|Crime|Drama,2017,5.0
9634,179135,Blue Planet II (2017),Documentary,2017,5.0
9543,172705,Tickling Giants (2017),Documentary,2017,5.0
9284,158027,SORI: Voice from the Heart (2016),Drama|Sci-Fi,2016,5.0
9255,156025,Ice Age: The Great Egg-Scapade (2016),Adventure|Animation|Children|Comedy,2016,5.0
9337,160644,Indignation (2016),Drama,2016,5.0
9396,164367,The Girl with All the Gifts (2016),Drama|Horror|Sci-Fi|Thriller,2016,5.0
9365,162344,Tom Segura: Mostly Stories (2016),Comedy,2016,5.0
9299,158882,All Yours (2016),Comedy|Drama|Romance,2016,5.0
9096,143559,L.A. Slasher (2015),Comedy|Crime|Fantasy,2015,5.0
9180,149350,Lumberjack Man (2015),Comedy|Horror,2015,5.0
9042,141718,Deathgasm (2015),Comedy|Horror,2015,5.0
9055,141928,Bloodsucking Bastards (2015),Comedy|Horror,2015,5.0
9094,143511,Human (2015),Documentary,2015,5.0
9022,140627,Battle For Sevastopol (2015),Drama|Romance|War,2015,5.0
9068,142444,The Editor (2015),Comedy|Horror|Mystery,2015,5.0
9131,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy,2015,5.0
9152,147410,A Perfect Day (2015),Comedy|Drama,2015,5.0
8646,120138,PK (2014),Comedy|Drama|Fantasy|Mystery|Romance,2014,5.0
8591,117531,Watermark (2014),Documentary,2014,5.0
8516,114265,Laggies (2014),Comedy|Romance,2014,5.0
8504,113829,"One I Love, The (2014)",Comedy|Drama|Romance,2014,5.0
8334,107771,Only Lovers Left Alive (2013),Drama|Horror|Romance,2013,5.0
8381,109633,"Garden of Words, The (Koto no ha no niwa) (2013)",Animation|Romance,2013,5.0
8383,109687,Particle Fever (2013),Documentary,2013,5.0
8338,107951,Hunting Elephants (2013),Comedy|Crime,2013,5.0
8343,108078,Chinese Puzzle (Casse-tÃªte chinois) (2013),Comedy|Romance,2013,5.0
9186,149566,Unicorn City (2012),Comedy|Romance,2012,5.0
8074,99636,English Vinglish (2012),Comedy|Drama,2012,5.0
8610,118270,Hellbenders (2012),Comedy|Horror|Thriller,2012,5.0
8107,100556,"Act of Killing, The (2012)",Documentary,2012,5.0
8366,109241,On the Other Side of the Tracks (De l'autre cÃ´...,Action|Comedy|Crime,2012,5.0
9185,149508,Spellbound (2011),Comedy|Romance,2011,5.0
8707,124404,"Snowflake, the White Gorilla (2011)",Adventure|Animation|Children|Comedy,2011,5.0
8946,136556,Kung Fu Panda: Secrets of the Masters (2011),Animation|Children,2011,5.0
7886,94810,Eva (2011),Drama|Fantasy|Sci-Fi,2011,5.0
7521,84273,Zeitgeist: Moving Forward (2011),Documentary,2011,5.0
9129,146662,Dragons: Gift of the Night Fury (2011),Adventure|Animation|Comedy,2011,5.0
8645,120130,Into the Forest of Fireflies' Light (2011),Animation|Drama|Fantasy,2011,5.0
9234,152711,Who Killed Chea Vichea? (2010),Documentary,2010,5.0
8627,118894,Scooby-Doo! Abracadabra-Doo (2010),Animation|Children|Mystery,2010,5.0
7828,93022,Miss Nobody (2010),Comedy|Crime,2010,5.0
7551,85295,Scooby-Doo! Curse of the Lake Monster (2010),Adventure|Children|Comedy|Mystery,2010,5.0
7491,82744,Faster (2010),Action|Crime|Drama,2010,5.0
7827,93008,"Very Potter Sequel, A (2010)",Comedy|Musical,2010,5.0
7400,79897,Get Low (2009),Comedy|Drama|Mystery,2009,5.0
8355,108795,Wonder Woman (2009),Action|Adventure|Animation|Fantasy,2009,5.0
7903,95149,Superman/Batman: Public Enemies (2009),Action|Animation|Fantasy,2009,5.0
7364,78836,Enter the Void (2009),Drama,2009,5.0
7059,69469,Garfield's Pet Force (2009),Animation,2009,5.0

In [310]:
list(set(reco_movies_1) & set(reco_movies_2))

[]

In [42]:
X = [[1,5,3],[1,5,6],[7,8,9]]
X

[[1, 5, 3], [1, 5, 6], [7, 8, 9]]

In [43]:
cosine_similarity(X)

array([[1.        , 0.94454534, 0.89804238],
       [0.94454534, 1.        , 0.92092585],
       [0.89804238, 0.92092585, 1.        ]])

In [46]:
cosine_similarity(np.array(X).T)

array([[1.        , 0.86557842, 0.89817743],
       [0.86557842, 1.        , 0.97622104],
       [0.89817743, 0.97622104, 1.        ]])

In [34]:
X = pd.DataFrame([[1,2,3],[34,45,56],[100,102,201]], columns = ["A","B","C"])

In [35]:
X

     A    B    C
0    1    2    3
1   34   45   56
2  100  102  201

In [40]:
X.apply(standardize)

       A           B           C
0   46.0   51.666667   89.666667
1   79.0   94.666667  142.666667
2  145.0  151.666667  287.666667

In [24]:
# Trying the .apply function
X = pd.DataFrame([[1,[2,4],3],[56,[45,67],43]], columns = ["A","B", "C"])
X

    A         B   C
0   1    [2, 4]   3
1  56  [45, 67]  43

In [13]:
import numpy as np
X.apply(np.sqrt)

          A         B         C
0  1.000000  1.414214  1.732051
1  7.483315  8.185353  6.557439

In [14]:
X.apply(sum)

A    57
B    69
C    46
dtype: int64

In [15]:
X.apply(lambda x: sum(x))

A    57
B    69
C    46
dtype: int64

In [17]:
def my_func(row):
    s = 0
    for item in row:
        s = s + item
    return s

X.apply(lambda x: my_func(x))

A    57
B    69
C    46
dtype: int64

In [25]:
X

    A         B   C
0   1    [2, 4]   3
1  56  [45, 67]  43

In [29]:
X['B'].apply(my_func)

0      6
1    112
Name: B, dtype: int64

In [27]:
X['B'].apply(lambda x: my_func(x))

0      6
1    112
Name: B, dtype: int64

In [28]:
X

    A         B   C
0   1    [2, 4]   3
1  56  [45, 67]  43